  {{ letter_head or "" }}
<div class="col-xs-12">

    <div class="title" align="right">
        <h4>Size Set</h4>
        <h6><b>{{doc.name}}</b></h6>
        <hr style="width: 100%; color: black; height: 2px; background-color:#8f8f8f;">
    </div>
    <h4 align="center" style="font-family: inherit; font-weight: bold;">DRAFT</h4>

    <div class="row">
        <table style="width: 100%">
            <thead>
                <col align="left">
                <col align="right">
                
                {# <tr>    
                    <td align="left"><b>Style:      </b>{{ doc.style or " " }}</td>
                    <td align="right"><b>Pattern Cutting:       </b>{{ doc.pc or " " }}</td>
                </tr>
 #}
                <tr>    
                    <td align="left"><b>Date:       </b>{{ doc.date or " " }}</td>
                    <td align="right"><b>Pattern Cutting Date:      </b>{{ doc.pattern_cutting_date or " " }}</td>
                </tr>

            </thead>
        
        </table>
        <table class="table table-bordered" style="margin-top:10px">
            <thead>
                <tr>
                    <th style="width: 20%; text-align: center; font-weight:bold">Size Range</th>
                    <th style="width: 20%; text-align: center; font-weight:bold">Size</th>
                    <th style="width: 20%; text-align: center; font-weight:bold">Color</th>
                    <th style="width: 20%; text-align: center; font-weight:bold">Quantity</th>
                </tr>
            </thead>

            <tbody>
                {% for row in doc.siz_set_cld %}
                    <tr>
                        <td style="width: 20%; text-align: center">{{ row.size_range or "-"}}</td>
                        <td style="width: 20%; text-align: center">{{ row.size or "-"}}</td>          
                        <td style = "width: 20%; text-align: center">{{row.color}}</td>
                        <td style = "width: 20%; text-align: center">{{row.qty}}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td style="width: 20%; text-align: center"></td>
                    <td style="width: 20%; text-align: center"></td>
                    <td style="width: 20%; text-align: center"></td>
                    <td style="width: 20%; text-align: center; font-weight:bold">{{ doc.ttl or "-"}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <table style="margin-top: 100px">
            <tr>
                <td style="width:45%"></td>
                <td style="width: 10%;text-align: right; border-top:1px dotted black">Signature</td>
            </tr>   
        </table>
    </div>

</div>


