{%- from "templates/print_formats/standard_macros.html" import add_header -%}

<div>
    {{ letter_head or "" }}
</div>
<div class="row">
	<div class="col-xs-12 text-left">
		<table>
			<tr>
				<td><b>DATE:</b></td>
				<td>{{ doc.date }}</td>
			</tr>
            <tr>
				<td><b>DESCRIPTION:</b></td>
				<td>{{ doc.desc or ""}}</td>
			</tr>
		</table>
	</div>
</div>
<div class="row">
<div align="center">
    <h4><u>{{doc.name}}</u></h4>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="text-align: center">Reference/Style</th>
            <th style="text-align: center">Description</th>
            <th style="text-align: center">Size Range</th>
            <th style="text-align: center">Photo</th>
            <th style="text-align: center">Quantity(PCS)</th>
            <th style="text-align: center">Per Piece Price</th>
            <th style="text-align: center">Target Price</th>
            <th style="text-align: center">Shipment Date</th>
            <th style="text-align: center">Remark</th>
        </tr>
    </thead>
    <tbody>
        {% for key in doc.bq_child %}
        <tr>
            <td style="text-align: center">{{ key.ref or ""}}</td>
            <td style="text-align: center">{{ key.item or ""}}</td>
            <td style="text-align: center">{{ key.s_rng or ""}}</td>
            <td style="text-align: center"><img class="img-responsive"src="{{ key.photo }}"/></td>
            <td style="text-align: center">{{ key.qty or ""}}</td>
            <td style="text-align: center">${{ key.per_pcs_price or ""}}</td>
            <td style="text-align: center">${{ key.t_prc or ""}}</td>
            <td style="text-align: center">{{ key.s_date or ""}}</td>
            <td style="text-align: center">{{ key.rmk or ""}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    <table style="margin-top:100px">
        <tr>
            <td style="width:45%"></td>
            <td style="width: 10%;text-align: right; border-top:1px dotted black">Signature & Date</td>
        </tr>
    </table>
</div>
{#jinja comments#}