{%- from "templates/print_formats/standard_macros.html" import add_header -%}

<div class="col-xs-12">
    <div  class="text-center">
       {{ letter_head or "" }}
    </div>
<div align="center">
    <!--<h4><u>Inspection</u></h4>-->
    <h4><u>Bulk Cutting</u></h4>
    <h6>{{doc.name}}</h6>
</div> 
<div class="row">
    <table style="center">
    <tbody>
        <thead>
            <tr>
                <th style="width: 10%;text-align: left; font-weight:bold">Date:</th>
                <td style="width: 30%;text-align: left">{{ doc.date or "" }}</td>
            </tr>
            <tr>
                <th style="width: 10%;text-align: left; font-weight:bold">Style:</th>
                <td style="width: 30%;text-align: left">{{ doc.style or "-" }}</td>
            </tr>
            <tr>
                <th style="width: 10%;text-align: left; font-weight:bold">Color:</th>
                <td style="width: 30%;text-align: left">{{ doc.color or "" }}</td>
            </tr>
            </thead>
    </tbody>
    </table>
</div>
<table class="table table-bordered" style="margin-top:10px">
    <h4>Bulk Cutting List</h4>
    <thead>
        <tr>
            <th style="width: 5%; text-align: left; font-weight:bold">Sr</th>
            <th style="width: 70left%; text-align: center; font-weight:bold">Size</th>
            <th style="width: 25%; text-align: right; font-weight:bold">Pcs</th>
        </tr>
    </thead>
    <tbody>
    {% set n = 0 %}
    {% for key in doc.bc %}
    {% set n = n + 1 %}
        <tr>
            <td style="width: 5%; text-align: left">{{ n }}</td>
            <td style="width: 70%; text-align: center">{{ key.size or "-"}}</td>
            <td style="width: 25%; text-align: right">{{ key.pcs or "-"}}</td>
        </tr>
    {% endfor %}
        <tr>
            <td colspan="2" style="text-align:right; width: 25%; font-weight:bold">Total</td>
            <td style="width: 25%; text-align: right; font-weight:bold">{{ doc.ttl or "-"}}</td>
        </tr>
    </tbody>
</table>
<div>
    <table style="margin-top:100px">
        <tr>
            <td style="width:45%"></td>
            <td style="width: 10%;text-align: right; border-top:1px dotted black">Signature</td>
        </tr>
    </table>
</div>
</div>