 {{ letter_head or "" }}
<h3 class="text-center">{{ doc.select_print_heading or "Proforma Invoice" }}</h3>
<div class="col-xs-12">
	<table class="table table-bordered">
		<tr>
			{% set comp_info = frappe.get_all("Company",filters={"name":doc.company},fields=["address","phone_no","fax","email","website"],as_list=0).pop() %}
			<td colspan="2" rowspan="2" width="58%"><strong>Exporter</strong>
				<br />{{doc.company}}
				{% if comp_info["address"] %}
				<br />{{comp_info["address"]}}
				{% endif %}
				{% if comp_info["phone_no"] %}
				<br />PH: {{comp_info["phone_no"]}}
				{% endif %}
				{% if comp_info["fax"] %}
				<br />FX: {{comp_info["fax"]}}
				{% endif %}
				{% if comp_info["email"] %}
				<br />E.mail: {{comp_info["email"]}}
				{% endif %}
				{% if comp_info["website"] %}
				<br />URL: {{comp_info["website"]}}
				{% endif %}
			</td>
			<td colspan="0">
			Invoice No.<strong>-{{doc.name}}</strong>
			<br>Date: <strong>{{doc.date}}</td></strong>
		</tr>
		<tr>
			<td colspan="2"></td>
		</tr>
		<tr>
			{% if doc.final_destination %}				
				{% set comp_info = frappe.get_all("Address",filters={"name":doc.final_destination},fields=["address_title","address_line1","address_line2","city","state","pincode","country"],as_list=0).pop() %}
			{% endif %}

			<td colspan="2" rowspan="2"><strong>Consignee</strong>
				{% if comp_info["address_title"] %}
				<br />{{comp_info["address_title"]}}
				{% endif %}
				{% if comp_info["address_line1"] %}
				<br />{{comp_info["address_line1"]}}
				{% endif %}
				{% if comp_info["address_line2"] %}
				<br />{{comp_info["address_line2"]}}
				{% endif %}
				{% if comp_info["city"] %}
				<br />{{comp_info["city"]}}
				{% endif %}
				{% if comp_info["state"] %}
				<br />{{comp_info["state"]}}
				{% endif %}
				{% if comp_info["pincode"] %}
				<br />{{comp_info["pincode"]}}
				{% endif %}
				{% if comp_info["country"] %}
				<br />{{comp_info["country"]}}
				{% endif %}
			</td>
			<td colspan="2"><strong>Buyer other than cosignee</strong><br />
			{{doc.buyer_cosignee or ""}}</td>
		</tr>
		<tr>
			<td><strong>Country of Origin of Goods</strong><br />
			{{doc.country_og or ""}}</td>
			<td><strong>Country of Final Destination</strong><br />
			{{doc.country_fd}}</td>
		</tr>
		<tr>
			<td width="30%"><strong>Pre-Carriage by</strong><br />{{doc.pre_carriage_by or ""}}</td>
			<td><strong>Place of Receipt by Pre-carrier</strong><br /></td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td><strong>Vessel/Flight No.</strong><br />{{doc.vessel_flight_no or ""}}</td>
			<td><strong>Port of Loading</strong><br />{{doc.port_of_loading or ""}}</td>
			<td colspan="2" rowspan="2"><strong>Terms of Delivery and Payment</strong><br />
			<strong>PAYMENT CONDITION</strong>: LC at sight with {{doc.terms or ""}}% less<br />
			<strong>INCOTERMS</strong>:{{doc.incoterms or ""}}</td>
		</tr>
		<tr>
			<td><strong>Port of Discharge</strong><br />
			{{doc.port_of_discharge or ""}}</td>
			<td><strong>Final Destination</strong>
				{% if comp_info["city"] %}
					<br />{{comp_info["city"]}}
				{% endif %}
			</td>
		</tr>
	</table>
</div>
<div class="col-xs-12"; style="font-size: 10px">
	<table class="table table-bordered";>
	{% set header_list = [_("UVC"),_("Reference/Style Name"),_("Colours"),
	_("Theme"),	_("Description"),_("Quantity / in /Pcs"),_("Unit Price (USD)"),
	_("Unit price less Discount"),_("Total amount less discount"),_("Shipment Date"),_("Warehouse"),_("Composition")]%}
	{% set proforma_names = frappe.get_all("PI Child",filters={"parent":doc.name},fields="proforma_order",as_list=0) %}

	{% set terms_amount = frappe.get_all("PI",filters={"name":doc.name},fields=["terms","amount_in_word"],as_list=0).pop() %}
	{% if terms_amount["terms"] %}		
		{% set discount = terms_amount["terms"] or 0 %}
		{% set amount_in_word = terms_amount["amount_in_word"] or 0 %}
	{% else %}
		{% set discount = 0 %}
		{% set amount_in_word = 0 %}
	{% endif %}
		<thead>
			<tr style="font-weight: bold;">
				{%- for si in header_list -%}
					<td>{{ si }}</td>					
				{%- endfor -%}
			</tr>
		</thead>
		<tbody>
		{% set total_price = {'tp':0}%}
		{% set color = ['#FFCCCC','#CCFF99','#FFFF99']%}
		{% set total_qty = {'tq':0} %}
		{% set index = {'ind':0}%}
		{% set color_curr = {'col':0}%}
		{%- for si in proforma_names -%}
			{% set proforma_detail = frappe.get_all("Proforma Order Child",filters={"parent":si["proforma_order"]},fields=["uvc","style_name","colors","theme","description","qty_pcs","unit_price","shipment_date","wh","composition"],as_list=0) %}
			{% if index.update({'ind':index.ind +1 }) %}{% endif %}
			{% if color_curr.update({'col':color[index.ind % 3]})%}{% endif %}
			{%- for x in proforma_detail -%}
				<tr style="background-color:{{color_curr.col}};font-size: 9px; text-align: center;">
					<td width="8%">{{x["uvc"]}}</td>
					<td width="8%">{{x["style_name"]}}</td>
					<td width="8%">{{x["colors"]}}</td>
					<td width="8%">{{x["theme"]}}</td>
					<td width="9%">{{x["description"]}}</td>
					<td width="8%">{{x["qty_pcs"]}}</td>
					<td width="8%">{{x["unit_price"]}}</td>
					<td width="8%">
					{% set qt_less = x["unit_price"] - (x["unit_price"]*discount)/100 %}
					{{qt_less}}</td>
					<td width="8%">{% set less_total = x["qty_pcs"] * qt_less %}
					{% if total_price.update({'tp':total_price.tp+less_total}) %}{% endif %}
					{% if total_qty.update({'tq':total_qty.tq+x["qty_pcs"]}) %}{% endif %}
					{{less_total}}</td>
					<td width="8%">{{x["shipment_date"]}}</td>
					<td width="8%">{{x["wh"] or "-"}}</td>
					<td width="8%">{{x["composition"]}}</td>
				</tr>
			{%- endfor -%}
			<tr style="border-top:2px solid #000">
				<td colspan="12"></td>
			</tr>
		{%- endfor -%}
		<tr style="background-color:#99CCFF;font-weight: bold;"><td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>Total</td>
			<td>{{total_qty.tq}}</td>
			<td></td>
			<td></td>
			<td>${{total_price.tp}}</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		</tbody>
	</table>
</div>
<div class="col-xs-12">
	<table>
		<tr>
			<td><strong><u>Amount:</u></strong></td><td><strong>$ {{total_price.tp}}</strong></td>
			<tr><td></td><td><strong>{{amount_in_word}}</strong></td></tr>
		</tr>
	</table>
</div>
<div class="col-xs-6">
	<table>
		{% if doc.benificiary_bank %}			
			{% set beneficiary_bank = frappe.get_all("Beneficiary Bank",filters={"name":doc.benificiary_bank},fields=["bank_name","bank_refs","tel","fax","swift_code","account_no"],as_list=0) %}
			{% set beneficiary_bank = beneficiary_bank.pop() %}
		{% endif %}
		<tr>
			<td width="58%">Payment Terms</td>
			<td>: {{doc.incoterms or ""}} {{doc.payment_terms or ""}}</td>
		</tr>
		{% if beneficiary_bank %}			
		<tr>
			<td>Beneficiary BANK</td>
			<td>: {% if beneficiary_bank["bank_name"] %} {{beneficiary_bank["bank_name"]}} {% endif %}</td>
		</tr>
		<tr>
			<td style="text-decoration:underline;">BANKER</td>
		</tr>
		<tr>
			<td>YOUR BANK REF</td>
			<td>: {% if beneficiary_bank["bank_refs"] %} {{beneficiary_bank["bank_refs"]}} {% endif %}</td>
		</tr>
		<tr>
			<td>TEL</td>
			<td>: {% if beneficiary_bank["tel"] %} {{beneficiary_bank["tel"]}} {% endif %}</td>
		</tr>
		<tr>
			<td>FAX</td>
			<td>: {% if beneficiary_bank["fax"] %} {{beneficiary_bank["fax"]}} {% endif %}</td>
		</tr>
		<tr>
			<td>ACCOUNT NO</td>			
			<td>: {% if beneficiary_bank["account_no"] %} {{beneficiary_bank["account_no"]}} {% endif %}</td>
			
		</tr>
		<tr>
			<td>SWIFT CODE</td>
			<td>: {% if beneficiary_bank["swift_code"] %} {{beneficiary_bank["swift_code"]}} {% endif %}</td>
		</tr>
		{% endif %}

	</table>
</div>

<div class="col-xs-12">
		<table width="98%">					
			<tr>
				<td width="17%">Declaration:</td>
			</tr>
			{% if doc.declaration %}
				{% set decl = frappe.get_all("Declaration",filters={"name":doc.declaration},fields=["terms"],as_list=0) %}
				{% set decl = decl.pop() %}
			{% endif %}
			<tr>
				<td colspan="2">{% if decl %} {{decl["terms"]}} {% endif %}</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td width="40%">
					<div class="col-xs-12 text-center" style="border-bottom:1px dotted #000; padding-bottom:10px">
						Signature & Date<br />
					</div>
				</td>
			</tr>
		</table>
</div>
<div class="clearfix"></div>