


<div class='text-left col-sm-6'>{{doc.name}}<br>Date:	{{doc.date_of_issue}}</div>
<div class='text-right col-sm-6'>
{{frappe.utils.global_date_format(doc.date_of_issue)}}
</div>











<br><br>
<div class='col-sm-12'>
<br><br><br>
To,<br>
The Executive Vice President,<br>
{{doc.sender_bank_address}}<br>
{{ frappe.db.get_value("Beneficiary Bank", {'name': doc.sender_bank_address}, "address_line_1") }}{{ frappe.db.get_value("Beneficiary Bank", {'name': doc.sender_bank_address}, "address_line_2") }}
<br>
{{ frappe.db.get_value("Beneficiary Bank", {'name': doc.sender_bank_address}, "city") }}

</div>









<br>
<br>

<div class='col-sm-12 text-justify'>
	Subject : <strong>Prayer for opening of Back to Back L/C on  {{doc.currency}}  {{ doc.get_formatted("amount") }}  Under Export L/C no. {{doc.master_lc}} Amounting USD ..... Issued by ...... </strong>
</div>









</br></br>
<div class='col-sm-12 text-justify'>
Dear Sir,
</br>
Reference to the above we would like to draw you kind attention that we have submitted earlier the subject mentioned Export L/C with amendment at your end for your kind perusal and favorable action for opening Back to Back L/C purpose .

</br></br>

Now , we are submitting herewith the following papers/documents for the purpose of opening the Back to Back L/C on <strong>{{ doc.get_formatted("amount") }}</strong> to import the requisite quantity of raw materials from <strong>{{doc.beneficiary}}</strong>.
</div>









<br>
<div class='col-sm-12'>
{{doc.additional_terms_and_condition}}
</div>






<br><div class='col-sm-12 text-justify'>
Therefore , you are requested to take necessary action for opening the Back to Back L/C on <b>{{ doc.get_formatted("amount") }}</b> under P/I no. {{doc.pi}}  Dated.{{doc.date_of_issue}} against the subject mentioned export L/C at the earliest.
</div>






</br></br><div class='col-sm-12'>You are appreciated for your kind co-operation and necessary action ..</div>







</br></br><div class='col-sm-12 text-left'>Thanking You , </div>



<br><div class='col-sm-7'></div>
<div class='col-sm-5'>
Shipment DT.{{doc.shipment_dt}}<br>
Expiry	 DT.{{doc.expiry_dt}}
</div>



</br></br></br><div class='col-sm-12'>
Yours Faithfully<br>
M.M. Knitwear Ltd..
<br><br><br>
-------------------------------<br>
{{ frappe.db.get_value("Employee", {'name': doc.approved_by}, "employee_name") }}<br>

{{ frappe.db.get_value("Employee", {'name': doc.approved_by}, "designation") }}
</div>