<div class="col-xs-12">
    <div  class="text-center">
        {{ letter_head or "" }}
    </div>
    <div align="center" style="margin: -25px 0px 25px 0">
        <h2><b>PACKING LIST/WEIGHT LIST</b></h2>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <b>EXPORTER: </b><br/> {{ doc.exporter or "-"}}
            </div>
            <div class="row">
                <b>FOR THE ACCOUNT AND RISK OF MESSERS:</b><br/> {{ doc.account_and_risk_of_measure or "-"}}
            </div>
            <div class="row">
                <b>NOTIFY PARTY:</b><br/> {{ doc.account_and_risk_of_measure or "-"}}
                <br/>
                <b>CONSIGNEE: </b><br/> {{ doc.consignee or "-"}}
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-6">
                    <b>INVOICE NO: </b><br/> {{ doc.invoice_no or "-" }}
                </div>
                <div class="col-xs-6">
                    <b>DATE: </b><br/> {{ doc.invoice_date or "-" }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <b>EXP NO: </b><br/> {{ doc.exp_no or "-" }}
                </div>
                <div class="col-xs-6">
                    <b>DATE: </b><br/> {{ doc.exp_date or "-" }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <b>L/C NO: </b><br/> {{ doc.lc or "-"}}
                </div>
                <div class="col-xs-6">
                    <b>DATE: </b><br/> {{ doc.lc_date or "-"}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <b>L/C ISSUING BANK: </b><br/> {{ doc.lc_issue_bank or "-" }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <b>NEGOTIATION THROUGH: </b><br/> {{ doc.negotiation or "-" }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <b>PAYMENT TERM: </b><br/> {{ doc.payment_terms or "-" }}
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-xs-3">
            <b>PORT OF LANDING</b><br/> {{ doc.port_of_loading or "-" }}
        </div>
        <div class="col-xs-3">
            <b>PORT OF DISCHARGE</b><br/> {{ doc.port_of_discharge or "-" }}
        </div>
        <div class="col-xs-6">
            <b>FINAL DESTINATION</b><br/> {{ doc.final_destination or "-" }}
        </div>
    </div>
    <div class="row" style="font-size:9px">
        <table class="table table-bordered" style="margin:15px -45px">
            <thead>
                <tr>
                    <th style="width: 20%; text-align: center; font-weight:bold">MARKS & NO. OF PACKAGE</th>
                    <th style="width: 20%; text-align: center; font-weight:bold">UVC's REF NR</th>
                    <th style="width: 20%; text-align: center; font-weight:bold">STYLE & P.O NR</th>
                    <th style="width: 20%; text-align: center; font-weight:bold">DESCRIPTIONS OF GOODS</th>
                    <th style="width: 20%; text-align: center; font-weight:bold">HS CODE</th>
                    <th style="width: 20%; text-align: center; font-weight:bold">QUANTITY SETS</th>
                    <th style="width: 20%; text-align: center; font-weight:bold">PCS</th>
                    <th style="width: 20%; text-align: center; font-weight:bold">CTNS</th>
                    <th style="width: 20%; text-align: center; font-weight:bold">NT WT CTN</th>
                    <th style="width: 20%; text-align: center; font-weight:bold">GR WT CTN</th>
                    <th style="width: 20%; text-align: center; font-weight:bold">TTL</br>NT WT</th>
                    <th style="width: 20%; text-align: center; font-weight:bold">TTL</br>GR WT</th>
                    <th style="width: 20%; text-align: center; font-weight:bold">CBM</br> per/item</th>
                    <th style="width: 20%; text-align: center; font-weight:bold">MEASUREMENT</th>
                </tr>
            </thead>
            <tbody>
                {% set total = 0 %}
                {% for key in doc.items %}
                    <tr>
                        <td style="width: 20%; text-align: center">{{ key.package_no or "-"}}</td>
                        <td style="width: 20%; text-align: center">{{ key.uvc_ref_no or "-"}}</td>
                        <td style="width: 20%; text-align: center">{{ key.style or "-"}}</td>
                        <td style="width: 20%; text-align: center">{{ key.description or "-"}}</td>
                        <td style="width: 20%; text-align: center">{{ key.hs_code or "-"}}</td>
                        <td style="width: 20%; text-align: center">{{ key.qty_sets or "-"}}</td>
                        <td style="width: 20%; text-align: center">{{ key.pcs or "-"}}</td> 
                        <td style="width: 20%; text-align: center" >{{ key.ctns or "-"}}</td>
                        <td style="width: 20%; text-align: center">{{ key.nt_wt_ctn or "-"}}</td>
                        <td style="width: 20%; text-align: center">{{ key.gt_wt_ctn or "-"}}</td>
                        <td style="width: 20%; text-align: center" >{{ key.total_nt_wt or "-"}}</td>
                        <td style="width: 20%; text-align: center">{{ key.total_gr_wt or "-"}}</td>
                         <td style="width: 20%; text-align: center">{{ key.cbm_per_item or "-"}}</td>
                          <td style="width: 20%; text-align: center">{{ key.measurement or "-"}}</td>
                    </tr>
                    {% set total = total + key.ctns %}
                {% endfor %}
                <tr>
                    <td colspan="5" style="text-align: right;"></td>
                    <td style="text-align: center;"><b>{{ doc.total_set or "-" }}</b></td>
                    <td style="text-align: center;"><b>{{ doc.total_pcs or "-" }}</b></td>
                    <td  style="text-align:center;"><b>{{ doc.total_ctns or "-" }}</b></td>
                    <td colspan="2"></td>
                    <td  style="text-align: center;"><b>{{ doc.total_nt_wt or "-" }}</b></td>
                    <td  style="text-align: center;"><b>{{ doc.total_gtwt or "-" }}</b></td>
                    <td  style="text-align: center;"><b>{{ doc.cbm_total or "-" }}</b></td>
                </tr>
            </tbody>
        </table>
        <p>{{ doc.remark or ""}} </p>
    </div>
    <div>
    <table style="margin-top:120px">
        <tr>
            <td style="width:45%"></td>
            <td style="width: 10%;text-align: right; border-top:1px dotted black">Signature</td>
        </tr>
    </table>
</div>
</div>