{%- from "templates/print_formats/standard_macros.html" import add_header -%}

<div class="col-xs-12">
    <div  class="text-center">
  {{ letter_head or "" }}
    </div>
<div align="center">
    <h4><u>{{doc.name}}</u></h4>
</div> 
<div class="row">
    <table>
    <tbody>
        <thead>
            <tr>    
                <td style="text-align: left;"><b>Order Name: </b>{{ doc.o_nam or "-" }}</td>
            </tr>
            <tr>    
                <td style="text-align: left;"><b>Percentage: </b>{{ doc.prcnt or "0.03" }}(%)</td>
            </tr>
            <tr>
                <td style="text-align: left;"><b>Shipment Date: </b>{{ doc.s_date or "-" }}</td>
            </tr>
        </thead>

    </tbody>
    </table>
    <table class="table table-bordered" style="margin-top:20px">
    <thead>
        <tr>
            <th style="width: 14%; text-align: center; font-weight:bold">Style</th>
            <th style="width: 14%; text-align: center; font-weight:bold">PO Sheet Price</th>
            <th style="width: 14%; text-align: center; font-weight:bold">Item</th>
            <th style="width: 14%; text-align: center; font-weight:bold">Size Range</th>
            <th style="width: 14%; text-align: center; font-weight:bold">Quantity</th>
            <th style="width: 14%; text-align: center; font-weight:bold">Our Price</th>
            <th style="width: 14%; text-align: center; font-weight:bold">With(%)</th>
            <th style="width: 14%; text-align: center; font-weight:bold">Commission</th>
        </tr>
    </thead>
    <tbody>
    {% for key in doc.orc_cld %}
        <tr>
            <td style="width: 14%; text-align: center">{{ key.style or "-"}}</td>
            <td style="width: 14%; text-align: center">${{ key.po_prc or "-"}}</td>
            <td style="width: 14%; text-align: center">{{ key.item or "-"}}</td>
            <td style="width: 14%; text-align: center">{{ key.siz_rng or "-"}}</td>
            <td style="width: 14%; text-align: center">{{ key.qty or "-"}}</td>
            <td style="width: 14%; text-align: center">${{ key.our_prc or "-"}}</td>
            <td style="width: 14%; text-align: center">${{ key.wth_per or "-"}}</td>
            <td style="width: 14%; text-align: center">${{ key.cmsn or "-"}}</td>
        </tr>
    {% endfor %}
        <tr>
            <td style="width: 14%; text-align: center"></td>
            <td style="width: 14%; text-align: center"></td>
            <td style="width: 14%; text-align: center"></td>
            <td style="width: 14%; text-align: center"></td>
            <td style="width: 14%; text-align: center; font-weight:bold">{{ doc.ttl_qty or "-"}}</td>
            <td style="width: 14%; text-align: center"></td>
            <td style="width: 14%; text-align: center"></td>
           
        </tr>
    </tbody>
</table>
    
</div>
<div>
    <table style="margin-top:100px">
        <tr>
            <td style="width:45%"></td>
            <td style="width: 10%;text-align: right; border-top:1px dotted black">Signature & Date</td>
        </tr>
    </table>
</div>
</div>