{% if (redarfor == "heade") { %}
	<tr>
		<th>{%= __("SL") %}</th>
		<th>{%= __("Color/Model") %}</th>
		{% for (i=0; i < format_child.length; i++) { %}
			<th>{%= __(format_child[i].style) %}</th>
		{% } %}
		<th> {%= __("#Cone") %} </th>
		<th width="12%"> {%= __("Priority") %} </th>
		<th></th>
	</tr>
{% } %}
{% if (redarfor == "body") { %}
	<tr>
		<td class="sl"></td>
		<td><select name="color" class="color form-control">
			<option value="">--Select--</option>
			{% for (i=0; i < colors.length; i++) { %}
				<option {% if(colors[i][0]==color) { %} selected {% } %} value="{%= colors[i][0] %}">{%= colors[i][0] %}</option>
			{% } %}
		</select></td>
		{% for (i=0; i < format_child.length; i++) { %}
			<td><input pattern="[0-9]*" class="form-control" type="text" name="{%= format_child[i].name %}" title="Please input only Number" value="{% if(format_child[i][format_child[i].name]) { %}{%= format_child[i][format_child[i].name] %}{% } %}"></td>
		{% } %}
		<td><input disabled="1" type="text" name="cone" class="cone form-control" value="{%= cone %}"></td>
		<td>
			<select name="priority" class="priority form-control">
				<option  value="">--Select--</option>
				<option  {% if(priority=="High") { %} selected {% } %} value="High">High</option>
				<option  {% if(priority=="Medium") { %} selected {% } %} value="Medium">Medium</option>
				<option  {% if(priority=="Low") { %} selected {% } %} value="Low">Low</option>
			</select>
		</td>
		<td><button onclick="javascript:remove_row(this);" class="button btn btn-xs btn-danger">remove</button></td>
	</tr>
{% } %}
{% if (redarfor == "footer") { %}
	<tr>
		<td colspan="2">{%= __("Total") %}</td>
		{% for (i=0; i < format_child.length; i++) { %}
			<td> <input class="form-control" type="text" disabled="1" name="total-{%= format_child[i].name %}" value="{% if(format_child[i].value) { %}{%= format_child[i].value %}{% } %}"></td>
		{% } %}
		<td><input disabled="1" type="text" name="total-cone" class="total_cone form-control" value="{% if(total_cone) { %}{%= total_cone %}{% } %}">
		<td colspan="2"></td>
	</tr>
{% } %}