{%- macro add_header(doc, letter_head, no_letterhead) -%}
	{% if letter_head and not no_letterhead %}
	<div class="letter-head"> {{ letter_head or "" }}</div>
	{% endif %}
    {% if doc.print_heading_template %}
        {{ frappe.render_template(doc.print_heading_template, {"doc":doc}) }}
    {% else %}
    <div class="print-heading">
		<h2>{{ doc.select_print_heading or (doc.print_heading if doc.print_heading != None
			else _(doc.doctype)) }}<br>
			<small>{{ doc.sub_heading if doc.sub_heading != None
				else doc.name }}</small>
        </h2>
    </div>
    {% endif %}
{%- endmacro -%}
{{ add_header( doc, letter_head, no_letterhead) }}
<div class="row">
	<div class="col-xs-6">
		<div class="row">
			<div class="col-xs-4 text-right"><label>Buyer</label></div>
			<div class="col-xs-8">{{ doc.buyer }}</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="row">
			<div class="col-xs-4 text-right"><label>Item</label></div>
			<div class="col-xs-8">{{ doc.item }}</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="row">
			<div class="col-xs-4 text-right"><label>Reference</label></div>
			<div class="col-xs-8">{{ doc.reference }}</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="row">
			<div class="col-xs-4 text-right"><label>Date Time</label></div>
			<div class="col-xs-8">{{ doc.get_formatted('date_time') }}</div>
		</div>
	</div>
</div>
{% if doc.pp_sample ==1 %}	

<div class="col-xs-12" style="margin-top:10px;"><label>PP Sample</label></div>
<table class="table table-bordered">
	<tbody>
		<tr>
			<th>Sr</th>
			<th>Size</th>
			<th>Qty</th>
			<th>Color</th>
		</tr>
		{%- for row in doc.sub_child -%}
		<tr>
			<td>{{ row.idx }}</td>
			<td>{{ row.size or "" }}</td>
			<td style="text-align: right;">{{ row.qty or 0 }}</td>
			<td>{{ row.color or "" }}</td>
		</tr>
		{%- endfor -%}
		<tr>
			<td colspan="2"><label class="text-right">Total</label></td>
			<td class="text-right">{{ doc.total_sub_qty or 0 }}</td>
			<td></td>
		</tr>
	</tbody>
</table>
{% endif %}
{% if doc.test_sample ==1 %}	
<div class="col-xs-12"><label>Test Sample</label></div>
<table class="table table-bordered">
	<tbody>
		<tr>
			<th>Sr</th>
			<th>Size</th>
			<th>Qty</th>
			<th>Color</th>
		</tr>
		{%- for row in doc.test_sample_child -%}
		<tr>
			<td>{{ row.idx }}</td>
			<td>{{ row.size or "" }}</td>
			<td style="text-align: right;">{{ row.qty or 0 }}</td>
			<td>{{ row.color or "" }}</td>
		</tr>
		{%- endfor -%}
		<tr>
			<td colspan="2"><label class="text-right">Total</label></td>
			<td class="text-right">{{ doc.total_test_sample_qty or 0 }}</td>
			<td></td>
		</tr>
	</tbody>
</table>
{% endif %}
{%- if trigger_print -%}
<script>
window.print();
window.onfocus = function() {
	window.close();
}
</script>
{%- endif -%}