<div class="row">

	<div class="col-xs-12 text-center" data-name="{%= name %}" data-child-bundle="{%= bundle_child %}">

		<div class="col-xs-2"><a data-doctype="Embellishment Receive" href="#Form/Embellishment Receive/{%= parent %}" class="grey">{%= parent %}</a></div>
		<div class="col-xs-1"><a data-doctype="Style Name" href="#Form/Style Name/{%= style %}" class="grey">{%= style %}</a></div>
		<div class="col-xs-1">{%= date %}</div>
		<div class="col-xs-1 bundle_no">{%= bundle_no %}</div>
		<div class="col-xs-1 qty">{%= quantity %}</div>
		<div class="col-xs-1"><input class="form-control" type="number" pattern="[0-9]" name="alter_qty" value="{%= alter_qty %}" ></div>
		<div class="col-xs-1 re_qty">{%= receive_qty %}</div>
		<div class="col-xs-1"><select class="form-control" name="status">
		<option></option>
		<option value="Fail">Fail</option>
		<option value="Pass">Pass</option>
		</select>
		</div>
		<div class="col-xs-2"><input class="form-control" name="remark" type="text" placeholder ="Comments Here">{%= remark %}</div>
		<div class="col-xs-1"><button type="button" class="btn btn-primary" name="value">Save</button></div>
	</div>
</div>