<div class="list-headers">
	<div class="list-row list-row-head ">
		<div class="row doclist-row text-center" style="font-weight: bold">
			<div class="col-sm-12" style="padding:10px 10px 10px 15px;">
				<div class="col-xs-2 list-col ">{%= __("Embellishment ID") %}</div>
				<div class="col-xs-1 list-col ">{%= __("Style") %}</div>
				<div class="col-xs-1 list-col ">{%= __("Date") %}</div>
				<div class="col-xs-1 list-col ">{%= __("Bundle No") %}</div>
				<div class="col-xs-1 list-col ">{%= __("Quantity") %}</div>
				<div class="col-xs-1 list-col ">{%= __("Alter Quantity") %}</div>
				<div class="col-xs-1 list-col ">{%= __("Receive Quantity") %}</div>
				<div class="col-xs-1 list-col ">{%= __("Action") %}</div>
				<div class="col-xs-2 list-col ">{%= __("Comments") %}</div>
			</div>
		</div>
	</div>
</div>