<div>
 {{ letter_head or "" }}
 </div>
<h3 class="text-center">{{ doc.select_print_heading or "Production Line Setup" }}</h3>
<div class="clearfix row">
	<div style="padding-left:0px" class="col-xs-8 pull-left">
	<table class="table table-bordered">
		<tr>
			<th class="text-right">Line No:</th>
			<td width="75%">{{ doc.line_no }}</td>
		</tr>
		<tr>
			<th class="text-right">PI</th>
			<td>{{ doc.pi }}</td>
		</tr>
	</table>
	</div>
</div>


<div class="clearfix row">
<h4 style="margin-bottom:10px">{{ "Production Line Supervisor" }}</h4>
<table class="table table-bordered">
    <thead>
        <tr>
               <th>Employeer</th>
                <th>Name</th>
                
        </tr>
    </thead>
    <tbody>
            {% for key in doc.supervisor %}
                <tr>
                    
                    <td style="">{{ key.emp_id}}</td>
                    <td style="">{{ key.emp_nm}}</td>
                </tr>
            {% endfor %}
             
    </tbody>
</table>
</div>
<div class="clearfix row">
<h4 style="margin-bottom:10px">{{ "Production Line Worker" }}</h4>
<table class="table table-bordered">
    <thead>
        <tr>
                <th>SL No.</th>
                <th>Worker</th>
                <th>Name</th>
                <th>Nature of Work</th>
                <th>Target</th>
                
        </tr>
    </thead>
    <tbody>
            {% for key in doc.worker %}
                <tr>
                    <td style="">{{ key.idx}}</td>
                    <td style="">{{ key.worker_id}}</td>
                    <td style="">{{ key.work_nm}}</td>
                    <td style="">{{ key.nat_work}}</td>
                    <td style="">{{ key.target}}</td>
                </tr>
            {% endfor %}
                <tr>
                   <td>Total</td>
                   <td>{{ doc.worker|length }}</td>
                   <td></td>
                   <td></td>
                   <td>{{ doc.total_target or 0 }}</td>
                </tr>
             
    </tbody>
</table>
<div>
