<div class="row">
	<div class="col-xs-12 text-center">
		<div style="display:none" data-name="name" value="{%= name %}">{%= name %}</div>
		<div class="col-xs-2"><a data-doctype="Empolyee" href="#Form/Employee/{%= worker_id %}">
		<div data-name="worker_name">{%= worker_name %}</div><div data-name="worker_id">{%= worker_id %}</div></a></div>
		<div class="col-xs-1" data-name="date">{%= date %}</div>
		<div class="col-xs-1" data-name="date">{%= line_no %}</div>
		<div class="col-xs-1" data-name="nature_of_work"><a data-doctype="Nature of Work" href="#Form/Nature of Work/{%= nature_of_work %}">{%= nature_of_work %}</a></div>
		<div class="col-xs-1" data-name="hourly_target">{%= hourly_target %}</div>
		<div class="col-xs-1" data-name="total_hour">{%= total_hour %}</div>	
		<div class="col-xs-1" data-name="total_target">{%= total_target %}</div>	
		<div class="col-xs-1" data-name="fillup_target">{%= fillup_target %}</div>
		<div class="col-xs-1" data-name="fillup_time">{%= fillup_time %}</div>
		<div class="col-xs-1"><input data-name="overtime" class="form-control" name="overtime" type="text" placeholder ="Overtime..." value="{%= overtime %}"></div>
		<div class="col-xs-1"><button data-fieldname="save" type="button" class="btn btn-primary" name="value">Save</button></div>		
	</div>
</div>