<div class="list-headers">
	<div class="list-row list-row-head ">
		<div class="row doclist-row text-center" style="font-weight: bold">
			<div class="col-sm-12" style="padding:10px 10px 10px 15px;">
				<div class="col-xs-2 list-col">{%= __("Worker Name") %}</div>
				<div class="col-xs-1 list-col">{%= __("Date") %}</div>
				<div class="col-xs-1 list-col">{%= __("Line")%}</div>
				<div class="col-xs-1 list-col">{%= __("Nature of Work") %}</div>
				<div class="col-xs-1 list-col" style="white-space: nowrap;">{%= __("Hourly Target") %}</div>
				<div class="col-xs-1 list-col">{%= __("Total Hour") %}</div>
				<div class="col-xs-1 list-col" style="white-space: nowrap;">{%= __("Total Target") %}</div>	
				<div class="col-xs-1 list-col" style="white-space: nowrap;">{%= __("Fillup Target") %}</div>
				<div class="col-xs-1 list-col">{%= __("Fillup Time") %}</div>
				<div class="col-xs-1 list-col">{%= __("Overtime") %}</div>
				<div class="col-xs-1 list-col"></div>
			</div>
		</div>
	</div>
</div>
