{%- from "templates/print_formats/standard_macros.html" import add_header -%}

<div class="col-xs-12">
    <div style="margin-bottom: 7px;" class="text-center">
   {{ letter_head or "" }}
    </div>
<div>
    <div>
        <table>
            <tbody>
                <tr>
                    <td>Date    : {{ doc.date or "" }}</td>
                </tr>
                <tr>
                    <td>Buyer   : {{ doc.buyer or "" }}</td>
                </tr>
                <tr>
                    <td>Attn.  : {{ doc.attn or "" }}</td>
                </tr>
                <tr>
                    <td>Sub : {{ doc.sub or "" }}</td>
                </tr>
                <tr>
                    <td>{{ doc.description or "" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
<table class="table table-bordered">
    <thead>
        <tr>
                <th style="width: 15%;text-align: center">Reference/Style</th>
                <th style="width: 25%;text-align: center">FABRICS</th>
                <th style="width: 10%;text-align: center">GSM</th>
                <th style="width: 15%;text-align: center">Color</th>
                <th style="width: 15%;text-align: center">Samples</th>
                <th style="width: 10%;text-align: center">Size</th>
                <th style="width: 20%;text-align: center">Qty</th>
        </tr>
    </thead>
    <tbody>

            {% for item in doc.frabics_list %}
                <tr>
                    <td style="text-align: center">{{ item.style }}</td>
                    <td style="text-align: center">{{ item.fabric }}</td>
                    <td style="text-align: center">{{ item.gsm }}</td>
                    <td style="text-align: center">{{ item.color }}</td>
                    <td style="text-align: center">{{ item.samples }}</td>
                    <td style="text-align: center">{{ item.size }}</td>
                    <td style="text-align: center">{{ item.qty }} pcs</td>
                </tr>
            {% endfor %}
    </tbody>
</table>
</div>
<div>
    <div >
        <table>
            <tbody>
                <tr>
                    <td>B/R
                        {% set br = frappe.db.get_value("User",{"name":doc.br},["first_name","middle_name","last_name"]) %}
                        <br>{{ br[0] or "" }} {{ br[1] or "" }} {{ br[21] or "" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
