<style>
    .rows > .item:nth-child(odd) {
        background-color: #fafbfc;
    }
</style>
<div>    
	<div class="form-grid" style="overflow:hidden;">
		<div class="grid-heading-row"></div>
		<div class="grid-body">
			<div class="rows"></div>
		</div>
	</div>
</div>
