<div class="row item" style="margin-bottom:30px;">
	<div class="col-xs-12">
		<div class="table-responsive">
			<table class="table form-grid table-striped">
				<thead class="tb-header grid-heading-row"></thead>
				<tfoot class="tb-footer"></tfoot>
				<tbody class="tb-body"></tbody>

			</table>
		</div>
	</div>
</div>