<!-- <div class="col-xs-12">
	<div  class="text-center">
		{{ letter_head or "" }}
	</div>
	<div align="center" style="margin: -25px 0px 25px 0">
		<h2><b>Bill of Exchange</b></h2>
	</div>
	<div class="row" style="margin-top:50px">
		<div class="col-xs-1"><label>No: </label></div>
		<div class="col-xs-4 text-left">{{ doc.invoice or ""}}</div>
		<div class="col-xs-2 text-right"><label>Date: </label></div>
		<div class="col-xs-4 text-left">{{ doc.get_formatted('date') or ""}}</div>
	</div>
	<div class="row" style="margin-top:10px">
		<div class="col-xs-1"><label>For: </label></div>
		<div class="col-xs-4 text-left">{{ doc.get_formatted('for') or ""}}</div>
		<div class="col-xs-2 text-right"><label>Place: </label></div>
		<div class="col-xs-4 text-left">{{ doc.place or ""}}</div>
	</div>
    <div class="row" style="margin-top:10px">
		<div class="col-xs-1"><label></label></div>
		<div class="col-xs-11 text-left"><strong>{{ doc.in_words or "" }}</strong></div>
    </div>
	<div class="row" style="margin-top:10px">
		{{ doc.description or ""}}
	</div>
	<div class="row" style="margin-top:30px">
		<div class="col-xs-2"><label>L/C No: </label></div>
		<div class="col-xs-4 text-left">{{ doc.lc_no or ""}}</div>
		<div class="col-xs-2 text-right"><label>Dated: </label></div>
		<div class="col-xs-4 text-left">{{ doc.lc_date or ""}}</div>
	</div>
	<div class="row" style="margin-top:30px">
	<div class="col-xs-1"><label>TO : </label></div><div class="col-xs-6">{{ doc.to or ""}}</div>
</div>
<div class="row" style="margin-top:10px">
	<div class="col-xs-1"><label>A/C: </label></div><div class="col-xs-6">{{ doc.ac or ""}}</div>
</div>
	<table style="margin-top:140px">
		<tr>
			<td style="width:45%"></td>
			<td style="width: 10%;text-align: right; border-top:1px dotted black">Signature</td>
		</tr>
	</table>
</div> -->






<div class='col-sm-12 bill_of_exchange'>
	<p class='heading text-center'><b>Bill Of Exchange</b></p>
	<div class='col-sm-9'>
		<p class='bill_no'><strong>Bill No . {{doc.name}}</strong><br><br>Exchange For $39,397.50 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dhaka         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;27.04.2017
	</div>
	<div class='col-sm-3'>
		<div class='text-right exchange_no'>{{doc.exchange_no}}</div>
	</div>

	<div class='col-sm-12 text-justify'>At  ----sight of this  Frist of Exchange (Frist of the same tenor and date being unpaid)</div>

	<div class='col-sm-12 text-justify'></br></br>Pay to the order of {{doc.supplier_bank}} ,{{frappe.db.get_value('Beneficiary Bank',{'name':doc.supplier_bank},"branch_name")}} , {{frappe.db.get_value('Beneficiary Bank',{'name':doc.supplier_bank},"address_line_1")}} , {{frappe.db.get_value('Beneficiary Bank',{'name':doc.supplier_bank},"address_line_2")}} {{frappe.db.get_value('Beneficiary Bank',{'name':doc.supplier_bank},"city")}} {{frappe.db.get_value('Beneficiary Bank',{'name':doc.supplier_bank},"country")}} The sum of SAY <strong>{{doc.in_words}}</strong> ONLY L/C No :{{doc.lc_no}}&nbsp;&nbsp;&nbsp; Date :{{doc.lc_date}}<br>value recived <strong>"Drawn Under of ------------------- "</strong></div>


<div class='col-sm-12 text-left'><br><br><div class='col-sm-1'><strong>To</strong></div>  <div class='col-sm-11'>{{doc.to}}</div></div>
	

<div class='col-sm-12 text-left'>
<div class='col-sm-1'><br><br>A/C</div>
	<div class='col-sm-11'><br><br>{{doc.ac}}<br><br><br><br></div>
</div>
</div>


<style>
.bill_of_exchange{border:1px black solid;border-style: dotted solid dashed;}
.heading{font-family: 'Italianno', cursive;font-size:40px}
.exchange_no{font-family: 'Cabin Sketch', cursive;
    background-color: white;
    margin-top: -58px;
    font-size: 96px;margin-top: -62px;}

</style>
<link href='https://fonts.googleapis.com/css?family=Italianno' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>

