<div class="row"> 
	<div class="col-xs-12 text-center" data-parent="{%= parent %}" data-name="{%= name %}">

		<div class="col-xs-2 style" data-style="{%= style %}"><a data-doctype="Style%20Name" href="#Form/Style%20Name/{%= style %}" class="grey">{%= style %}</a></div>

		<div class="col-xs-1 size_range">{%= size_range %}</div>

		<div class="col-xs-1 qty">{%= color %}</div>
		<div class="col-xs-1"><select class="form-control" name="sbdfs"><option value="Standard Packing">Ratio</option><option value="Solid Packing">Fixed</option></select></div>

		<div class="col-xs-2 list-col "><input class="form-control" type="text" name="remark" placeholder="Comments here"></div>

		<div class="col-xs-1"><select class="form-control" name="status"><option value="Pass">Pass</option><option value="Fail">Fail</option></select></div>

		<div class="col-xs-2 list-col tco_qty"><input class="form-control" type="number" name="tco_qty" min="1" placeholder="Qty"></div>

		<div class="col-xs-1 attach">
			<button class="btn vtn-info attachment">Files</button>
			<div class="text-ellipsis" style="display:none; float:left; width: 90%;">
				<i class="icon-paper-clip"></i>
				<a class="attached-file" target="_blank" href=""></a>
			</div>
			<a class="close" style="display:none;">×</a>
		</div>

		<div class="col-xs-1"><button type="button" class="btn btn-primary" name="value">Save</button></div>

	</div>
</div>
