<div class="list-headers">
	<div class="list-row list-row-head ">
		<div class="row doclist-row text-center" style="font-weight: bold">
			<div class="col-sm-12" style="padding:10px 10px 10px 15px;">
				<div class="col-xs-2 list-col ">{%= __("Reference/Style") %}</div>
				<div class="col-xs-1 list-col ">{%= __("Size Range") %}</div>
				<div class="col-xs-1 list-col ">{%= __("Color") %}</div>
				<div class="col-xs-1 list-col ">{%= __("Size Breakdown For") %}</div>
				<div class="col-xs-2 list-col ">{%= __("Remark") %}</div>
				<div class="col-xs-1 list-col ">{%= __("Status") %}</div>
				<div class="col-xs-2 list-col ">{%= __("Test Cutting Order Qty") %}</div>
				<div class="col-xs-1 list-col ">{%= __("Attachment") %}</div>
			</div>
		</div>
	</div>
</div>
 