<div class="col-xs-12">

    <div  class="text-center">
   {{ letter_head or "" }}
    </div>

    <div class="title" align="Center">
        <h4>Size Set</h4>
    </div>

    <div class="row">
        <table style="width: 100%">
            <thead>
                <col align="left">
                <col align="right">
                
                <tr>    
                    <td align="left"><b>Reference/Style:      </b>{{ doc.styl or " " }}</td>
                    <td align="right"><b>Size Set:       </b>{{ doc.size_set or " " }}</td>
                </tr>

                <tr>    
                    <td align="left"><b>Buyer:       </b>{{ doc.buyer or " " }}</td>
                    <td align="right"><b>Date:      </b>{{ doc.date or " " }}</td>
                </tr>

            </thead>
        
        </table>
        <table class="table table-bordered" style="margin-top:10px">
            <thead>
                <tr>
                    <th style="width: 30%; text-align: center; font-weight:bold">Size</th>
                    <th style="width: 30%; text-align: center; font-weight:bold">Color</th>
                    <th style="width: 30%; text-align: center; font-weight:bold">Psc</th>
                </tr>
            </thead>

            <tbody>
                {% for row in doc.t_cut %}
                    <tr>
                        <td style="width: 20%; text-align: center">{{ row.size or "-"}}</td>          
                        <td style = "width: 20%; text-align: center">{{row.color}}</td>
                        <td style = "width: 20%; text-align: center">{{row.pcs}}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td style="width: 20%; text-align: center"></td>
                    <td style="width: 20%; text-align: center"></td>
                    <td style="width: 20%; text-align: center; font-weight:bold">{{ doc.ttl or "-"}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <table style="margin-top: 100px">
            <tr>
                <td style="width:45%"></td>
                <td style="width: 10%;text-align: right; border-top:1px dotted black">Signature</td>
            </tr>   
        </table>
    </div>

</div>


