{% if(format_child) { %}
	<tr>
		<td><label for="">PER PC:</label></td>
		{% for (var i = 0; i <= format_child.length - 1; i++) { %}
			<td> <input disabled="1" class="form-control" style="width:80px;" type="text" name="ttl-{%= format_child[i].size %}" value="{% if( format_child[i].val) { %}{%= format_child[i].val %}{% } %}"> </td>
		{% } %}
		
	</tr>
{% } %}
