{% if(format_child) { %}
	<tr>
		<th style="display:none;">{%= idx %}</th>
		<th style="display:none;" class="ref_id">{% if(item !=""){ %} {%= item %} {% } %}</th>
		<th> {%= __("Size") %} </th>
		{% for (var i = 0; i <= format_child.length - 1; i++) { %}
			<th class="dync_row">{%= format_child[i].size %}</th>
		{% } %}
		
	</tr>
	
{% } %}
