{% if(format_child) { %}
	<tr>
		<td><label for="">{%= format_child[format_child.length-1] %}</label></td>
		{% for (var i = 0; i <= format_child.length - 2; i++) { %}
			<td> <input onchange="javascript:sumTotal(this);" pattern="[0-9]*" class="form-control" type="text" name="{%= format_child[i].size %}" value="{% if( format_child[i].val) { %}{%= format_child[i].val %}{% } %}"> </td>
		{% } %}
		
	</tr>
	
{% } %}