{%- macro add_header(doc, letter_head, no_letterhead) -%}
	{% if letter_head and not no_letterhead %}
	<div class="letter-head"> {{ letter_head or "" }}</div>
	{% endif %}
    {% if doc.print_heading_template %}
        {{ frappe.render_template(doc.print_heading_template, {"doc":doc}) }}
    {% else %}
    <div class="print-heading">
		<h2>{{ doc.select_print_heading or (doc.print_heading if doc.print_heading != None
			else _(doc.doctype)) }}<br>
			<small>{{ doc.sub_heading if doc.sub_heading != None
				else doc.name }}</small>
        </h2>
    </div>
    {% endif %}
{%- endmacro -%}

{{ add_header( doc, letter_head, no_letterhead) }}
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-2 /*text-right*/"><label>To</label></div>
			<div class="col-xs-10">{{ doc.to }}</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-2 /*text-right*/"><label>Attn</label></div>
			<div class="col-xs-10">{{ doc.attn }}</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-2 /*text-right*/"><label>Buyer</label></div>
			<div class="col-xs-10">{{ doc.buyer }}</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-2 /*text-right*/"><label>Sub</label></div>
			<div class="col-xs-10"><u>{{ doc.sub or "" }}</u></div>
		</div>
	</div>
	<p class="col-xs-12"><br>{{ doc.description.replace('\n','<br>') }}</p>

	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-2 /*text-right*/"><label>Mtr/Cone</label></div>
			<div class="col-xs-10"><strong>{{ doc.mtr_cone or "" }}</strong></div>
		</div>
	</div>
</div>
<!-- End top Part -->
<!-- Table Part -->
<table class="table table-bordered">
	{% set datas = json.loads(doc.style_format_data) %}
	<thead>
		<tr>
			<!-- <th>{{datas[0].header.format_child}}</th> -->
			<th>SL</th>
			<th>Color/Model</th>
			{% for th in datas[0].header.format_child %}
				<th>{{ th.style }}</th>
			{% endfor %}
			<th>Cone</th>
			<th>Priority</th>
		</tr>
	</thead>
	<tfoot>
		<td colspan="2"><strong>Total</strong></td>
		{% for tf in datas[0].footer.format_child %}
			<td> <strong>{{ tf.value }}</strong> </td>
		{% endfor %}
		<td colspan="2">
			<strong>{{datas[0].footer.total_cone}}</strong>
		</td>
	</tfoot>
	<tbody>
		{% for body in datas[0].body %}
			<tr>
				<td> {{ loop.index }} </td>
				<td> {{ body.color }} </td>
				{% for btd in body.format_child %}
					<td> {{ btd[btd.name] }} </td>
				{% endfor %}
				<td> {{ body.cone }} </td>
				<td> {{ body.priority }} </td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<!-- End Table Part -->
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-2 /*text-right*/"><label>Delivery Date</label></div>
			<div class="col-xs-10">{{ doc.get_formatted('delivery_date') or "" }}</div>
		</div>
	</div>
	<p class="col-xs-12"> {{ doc.footer or "" }} </p>

	<p class="col-xs-12"> <label>B/R</label> {{ doc.emp_name or (doc.b_r or"") }} </p>
</div>