{%- from "templates/print_formats/standard_macros.html" import add_header -%}

<div class="col-xs-12">
    <div  class="text-center">
        {{ letter_head or "" }}
    </div>
<div align="center">
    <h4><u><b>{{ doc.typ or "_" }}</b></u></h4>
</div> 
<div>
    <table class="col-xs-12 col-xs-offset-0 text-left">
        <tbody>
            
            <tr>
                <td><b>Date    :</b> {{ doc.date or "-" }}</td>
            </tr>
            
            <tr>
                <td><b>PO    :</b> {{ doc.po or "-" }}</td>
            </tr>
            <tr>
                <td><b>Style     :</b> {{ doc.stl or "-" }}</td>
            </tr>
            
        </tbody>
    </table>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 30%;text-align: center">Size</th>
            <th style="width: 30%;text-align: center">Color</th>
            <th style="width: 30%;text-align: center">Quantity</th>
        </tr>
    </thead>
    <tbody>
    {% for item in doc.ops_cld %}
        <tr>
            <td style="text-align: center">{{ item.size or "-"}}</td>
            <td style="text-align: center">{{ item.color or "-"}}</td>
            <td style="text-align: center">{{ item.qty or "-"}}</td>
        </tr>
    {% endfor %}
        <tr>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center; font-weight:bold">{{ doc.ttl or "-"}}</td>
        </tr>
    </tbody>
</table>
</div>
<div>
    <tbody>
        <tr>
            <td><u><b>Worker ID.</b></u>
                {% set w_id = frappe.db.get_value("Employee",{"name":doc.w_id},["employee_name","user_id"]) %}
                <br>{{ w_id [0] or "" }}
                <br>{{ w_id [1] or "" }}
            </td>
    </tr>
    </tbody>
</div>
<div>
    <table style="margin-top:100px">
        <tr>
            <td style="width:45%"></td>
            <td style="width: 10%;text-align: right; border-top:1px dotted black">Signature</td>
        </tr>
    </table>
</div>
</div>