 {{ letter_head or "" }}
<h3 class="text-center">{{ doc.select_print_heading or "Consumption Sheet" }}</h3>
<div class="clearfix">
	<div class="col-xs-8 pull-left">
	<table class="table table-bordered">
		<tr>
			<th class="text-right">BUYER:</th>
			<td width="75%">{{ doc.buyer }}</td>
		</tr>
		<tr>
			<th class="text-right">REF:</th>
			<td>{{ doc.style }}</td>
		</tr>
		<tr>
			<th class="text-right">ITEM</th>
			<td>{{ doc.item }}</td>
		</tr>
	</table>
	</div>
	<div class="col-xs-4 pull-left"><strong>Date:</strong></div>
	<div class="col-xs-4 pull-right">{{ doc.get_formatted("date") }}</div>
</div>
<div class="col-xs-12">
	<table class="table table-bordered">
		{% set size = frappe.get_all("Size Format Child",filters={"parent":doc.size},fields="size", order_by="idx asc" ,as_list=1) %}
		<thead>
			<tr style="background-color:#47B56C;">
				<td class="text-right">Size:</td>
				{%- for si in size -%}
					<td>{{ si[0] }}</td>					
				{%- endfor -%}
			</tr>
		</thead>
		<tbody>
			{% set html_body = frappe.db.get_value("Consumption Workout Child",{"name":doc.name},"consumption_data") %}
			{% set html_body = json.loads(html_body) %}
			{% set rows = ['BODY LEN :', 'DIA :', 'DOZ/PCS :'] %}
			{% set unit = {'BODY LEN :':'Cm','DIA :':'Inch','DOZ/PCS :':'Pcs'} %}

			{% for r in rows %}

				{% if r == 'CONSUMPTION :' %}
				    <tr style="background-color:#FF7070;">
					<td style="background-color:#B2B2CC;"class="text-right">{{ r }}</td>

					{% for val in html_body[r] %}
						<td>{{ val }} {{unit[r]}}</td>
					{% endfor %}
					</tr>
				{% else %}
				   <tr>
					<td style="background-color:#B2B2CC;" class="text-right">{{ r }}</td>

					{% for val in html_body[r] %}
						<td>{{ val }} {{unit[r]}}</td>
					{% endfor %}
					</tr>
				{% endif %}

				
			{% endfor %}
			
		</tbody>
	</table>
</div>
