{%- from "templates/print_formats/standard_macros.html" import add_header -%}

<div class="col-xs-12">
    <div  class="text-center">
   {{ letter_head or "" }}
    </div>
<div align="center">
    <h4><u>Sampling</u></h4>
    <h6>{{doc.name}}</h6>
</div> 
<div class="row">
    <table>
    <tbody>
        <thead>
            <tr>
                <td style="text-align: left;"><b>Date:      </b>{{ doc.date or "" }}</td>
            </tr>
            <tr>    
                <td style="text-align: left;"><b>Buyer:      </b>{{ doc.buyer or "-" }}</td>
            </tr>
            <tr>    
                <td style="text-align: left;"><b>Approver:        </b>{{ doc.apvr or "" }}</td>
            </tr>
            <tr>    
                <td style="text-align: left;"><b>Item:     </b>{{ doc.item or "" }}</td>
            </tr>
            <tr>    
                <td style="text-align: left;"><b>Reference Set:      </b>{{ doc.reference or "" }}</td>
            </tr>
            <tr>    
                <td style="text-align: left;"><b>Sample Type:      </b>{{ doc.st or "-" }}</td>
            </tr>
            
        </thead>

    </tbody>
    </table>
    <table class="table table-bordered" style="margin-top:10px">
    <thead>
        <tr>
            <th style="width: 16%; text-align: center; font-weight:bold">Size</th>
            <th style="width: 16%; text-align: center; font-weight:bold">Fabrics</th>
            <th style="width: 16%; text-align: center; font-weight:bold">Color</th>
            <th style="width: 16%; text-align: center; font-weight:bold">GSM</th>
            <th style="width: 16%; text-align: center; font-weight:bold">Description</th>
             <th style="width: 16%; text-align: center; font-weight:bold">Quantity</th>
        </tr>
    </thead>
    <tbody>
    {% for key in doc.sm_cld %}
        <tr>
            <td style="width: 16%; text-align: center">{{ key.size or "-"}}</td>
            <td style="width: 16%; text-align: center">{{ key.fabrics or "-"}}</td>
            <td style="width: 16%; text-align: center">{{ key.color or "-"}}</td>
            <td style="width: 16%; text-align: center">{{ key.gsm or "-"}}</td>
            <td style="width: 16%; text-align: center">{{ key.desc or "-"}}</td>
            <td style="width: 16%; text-align: center">{{ key.qty or "-"}}</td>
        </tr>
    {% endfor %}
        <tr>
            <td style="width: 16%; text-align: center"></td>
            <td style="width: 16%; text-align: center"></td>
            <td style="width: 16%; text-align: center"></td>
            <td style="width: 16%; text-align: center"></td>
            <td style="width: 16%; text-align: center"></td>
             <td style="width: 16%; text-align: center; font-weight:bold">{{ doc.total or "-"}}</td>
        </tr>
    </tbody>
</table>
    
</div>
<div>
    <table style="margin-top:100px">
        <tr>
            <td style="width:45%"></td>
            <td style="width: 10%;text-align: right; border-top:1px dotted black">Signature</td>
        </tr>
    </table>
</div>
</div>
    