{%- from "templates/print_formats/standard_macros.html" import add_header -%}

<div class="col-xs-12">
    <div  class="text-center">
     {{ letter_head or "" }}
    </div>
<div align="center">
    <!--<h4><u>Inspection</u></h4>-->
    <h4><u>{{doc.insp_lvl or ""}}</u></h4>
</div> 
<div class="row">
    <table class="table table-bordered">
    <tbody>
        <thead>
            <tr>
                <th style="width: 10%;text-align: left; font-weight:bold">Date:</th>
                <td style="width: 30%;text-align: left">{{ doc.date or "" }}</td>
            </tr>
            <tr>
                <th style="width: 10%;text-align: left; font-weight:bold">PO:</th>
                <td style="width: 30%;text-align: left">{{ doc.po or "" }}</td>
            </tr>
            <tr>
                <th style="width: 10%;text-align: left; font-weight:bold">Bundle:</th>
                <td style="width: 30%;text-align: left">{{ doc.bndl or "-" }}</td>
            </tr>
            <tr>
                <th style="width: 10%;text-align: left; font-weight:bold">Inspector:</th>
                <td style="width: 30%;text-align: left">{{ doc.insp_nam or "" }} ({{ doc.insp or "" }})</td>
            </tr>
            <tr>
                <th style="width: 10%;text-align: left; font-weight:bold">Accept:</th>
                <td style="width: 30%;text-align: left">{{ doc.acpt or "0" }}</td>
            </tr>
            <tr>
                <th style="width: 10%;text-align: left; font-weight:bold">Alter:</th>
                <td style="width: 30%;text-align: left">{{ doc.alter or "0" }}</td>
            </tr>
            <tr>
                <th style="width: 10%;text-align: left; font-weight:bold">Reject:</th>
                <td style="width: 30%;text-align: left">{{ doc.rjct or "0" }}</td>
            </tr>

            <tr>
                <th style="width: 10%;text-align: left; font-weight:bold">Total:</th>
                <td style="width: 30%;text-align: left">{{ doc.ttl or "0" }}</td>
            </tr>
            <tr>
                <th style="width: 10%;text-align: left; font-weight:bold">Rejected Warehouse:</th>
                <td style="width: 30%;text-align: left">{{ doc.r_wrhs or "" }}</td>
            </tr>
            <tr>
                <th style="width: 10%;text-align: left; font-weight:bold">Reason:</th>
                <td style="width: 30%;text-align: left">{{ doc.reason or "" }}</td>
            </tr>
            <tr>
                <th style="width: 10%;text-align: left; font-weight:bold">Comments:</th>
                <td style="width: 30%;text-align: left">{{ doc.cmnt or "" }}</td>
            </tr>
            </thead>
    </tbody>
    </table>
</div>
<div>
    <table style="margin-top:100px">
        <tr>
            <td style="width:45%"></td>
            <td style="width: 10%;text-align: right; border-top:1px dotted black">Signature</td>
        </tr>
    </table>
</div>
</div>
    