{% if(format_child) { %}
	<tr>
		<td colspan="3"> {%= __("Total") %} </td>
		{% for (var i = 0; i <= format_child.length - 1; i++) { %}
			<td> <input disabled="1" class="form-control" style="width:80px;" type="text" name="ttl-{%= format_child[i].size %}" value="{% if( format_child[i].val) { %}{%= format_child[i].val %}{% } %}"> </td>
		{% } %}
		<td>
			<div class="input-group">
		      <input disabled="1" type="text" class="form-control" style="width:100px;" name="ttl-total_col" value="{%= ttl_total_col %}">
		      <div class="input-group-addon">Pcs.</div>
		    </div>
		</td>
		<td  colspan="4"></td>
	</tr>
{% } %}
