{% if(format_child) { %}
	<tr>
		<th>{%= idx %}</th>
		<th class="ref_id">{% if(reference !=""){ %} {%= reference %} {% } %}</th>
		<th> {%= __("Size") %} </th>
		{% for (var i = 0; i <= format_child.length - 1; i++) { %}
			<th class="dync_row">{%= format_child[i].size %}</th>
		{% } %}
		<th rowspan="2" style="width:150px;">{%= __("Total") %}</th>
		<th><small>{%= __("1st Priority QTY") %}</small></th>
		<th><small>{%= __("2nd Priority QTY") %}</small></th>
		<th rowspan="2">{%= __("Remark") %}</th>
		<th rowspan="2"></th>
	</tr>
	<tr>
		<td colspan="2"> {%= __("Description") %} </td>
		<td> {%= __("Color/Measur") %} </td>
		{% for (var i = 0; i <= format_child.length - 1; i++) { %}
			<td> <input class="form-control" style="width:80px;" type="text" name="{%= format_child[i].size %}" value="{% if( format_child[i].val) { %}{%= format_child[i].val %}{% } %}"> </td>
		{% } %}
		<td class="first_rei_date"></td>
		<td class="sec_rei_date"></td>
	</tr>
{% } %}
