{% if(format_child) { %}
	<tr>
		<td> <input type="text" name="desc_one" class="form-control" style="width:100px;" value="{%= desc_one %}"> </td>
		<td> <input type="text" name="desc_two" class="form-control" style="width:100px;" value="{%= desc_two %}"> </td>
		<td> <select name="color" class="form-control">
			<option value="">{%= __("Select") %}</option>
			{% if (colors) { %}
				{% for (j=0; colors.length-1 >= j; j++){ %}
					<option {% if(colors[j][0] == color) { %} selected="1" {% } %} value="{%= colors[j][0] %}">{%= colors[j][0] %}</option>
				{% } %}
			{% } %}
		</select> </td>
		{% for (var i = 0; i <= format_child.length - 1; i++) { %}
			<td> <input onchange="javascript:sumTotal(this);" pattern="[0-9]*" class="form-control" type="text" name="{%= format_child[i].size %}" value="{% if( format_child[i].val) { %}{%= format_child[i].val %}{% } %}"> </td>
		{% } %}
		<td>
			<div class="input-group">
		      <input disabled="1" style="width:100px;" type="text" class="form-control" name="total_col" value="{%= total_col %}">
		      <div class="input-group-addon">Pcs.</div>
		    </div>
		</td>
		<td>
			<div class="input-group">
		      <input onchange="javascript:sumTotal(this); cur_frm.cscript.first_rei_date(this)" pattern="[0-9]*" style="width:100px;" type="text" class="form-control" name="first_pri" value="{%= first_pri %}">
		      <div class="input-group-addon">Pcs.</div>
		    </div>
		</td>
		<td>
			<div class="input-group">
		      <input pattern="[0-9]*" style="width:100px;" disabled="disabled" type="text" class="form-control" name="secound_pri" value="{%= secound_pri %}">
		      <div class="input-group-addon">Pcs.</div>
		    </div>
		</td>
		<td><input type="text" style="width:100px;" class="form-control" name="remark" value="{%= remark %}"></td>
		<td><button onclick="javascript:remove_row(this);" class="button btn btn-xs btn-danger">remove</button></td>
	</tr>
{% } %}