<div class="item col-xs-12">
<div class="row">
	<div class="col-xs-12 text-right">
		<br>
		<button onclick="javascript:remove_section(this);" class="btn btn-xs btn-danger sec-remove-table">
			{%= __("Remove section") %}</button>
	</div>
	<div class="col-sm-6 reference">
		<label class="control-label">Refarence/Style</label>
	</div>
	<div class="col-sm-6 size">
		<label class="control-label">Size</label>
	</div>
	<hr>
	<div class="col-xs-12">
		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead class="tb-header"></thead>
				<tfoot class="tb-footer"></tfoot>
				<tbody class="tb-body"></tbody>

			</table>
		</div>		
		<div class="small form-clickable-section grid-footer" style="background-color: transparent;">
			<div class="row">
		        <div class="col-sm-6 pull-right text-right">
					<button onclick="javascript:add_new_row(this);" class="btn btn-xs btn-default tb-add-row">
		                {%= __("Add new row") %}</button>
		        </div>
		        <!-- <div class="col-sm-6 text-right">
					<a href="#" class="grid-download btn btn-xs btn-default hide"
		                style="margin-left: 10px;">
		                {%= __("Download") %}</a>
					<a href="#" class="grid-upload btn btn-xs btn-default hide"
		                style="margin-left: 10px;">
		                {%= __("Upload") %}</a>
		        </div> -->
		    </div>
		</div>
	</div>
</div>
</div>