<div style="margin-bottom: 7px;" class="text-center">
	{%= frappe.boot.letter_heads[frappe.defaults.get_default("letter_head")] %}
</div>

<table class="table table-bordered">
	<thead>
		<tr>
				<th style="width: 5%">{%= __("SL No.") %}</th>
				<th style="width: 30%;text-align: center">{%= __("Item") %}</th>
				<th style="width: 25%;text-align: center">{%= __("COLOR/DIA") %}</th>
				<th style="width: 15%;text-align: center">{%= __('35"(MBROGR')) %}</th>
				<th style="width: 15%;text-align: center">{%= __('33"(MMBRO)') %}</th>
				<th style="width: 15%;text-align: center">{%= __('30"(Minbre)') %}</th>
				<th style="width: 15%;text-align: center">{%= __('36"(Buldon)') %}</th>
				<th style="width: 15%;text-align: center">{%= __('Total Body') %}</th>
				<th style="width: 15%;text-align: center">{%= __('RIB') %}</th>
				<th style="width: 15%;text-align: center">{%= __('Total Body+RIB') %}</th>
		</tr>
	</thead>
</table>