<div class="col-xs-12">

    <div  class="text-center">
 {{ letter_head or "" }}
    </div>

    <div class="title" align="Center">
        <h4>Size Set</h4>
    </div>

	<div class="row">
		<table style="width: 100%">
            <thead>
                
                <tr>    
                    <td align="left"><b>Supplier:      </b>{{ doc.supplier or " " }}</td>
                    <td align="right"><b>Buyer:       </b>{{ doc.buyer or " " }}</td>   
                </tr>

                <tr>    
                    <td align="left"><b>Supplier Name:       </b>{{ doc.supplier_name or " " }}</td>
                    <td align="right"><b>Buyer Name:      </b>{{ doc.buyer_name or " " }}</td>
                </tr>

                <tr>    
                    <td align="left"><b>Date:       </b>{{ doc.get_formatted("transaction_date") or " " }}</td>
                    <td align="right"><b>Company:      </b>{{ doc.company or " " }}</td>
                </tr>

            </thead>
		</table>

		

	</div>

</div>