table.table.form-grid.table-striped td {
	min-width:100px;
}table.table.form-grid.table-striped tr.data-row.row.sortable-handle:before {
	content: none;
}

.slick-header-column.ui-state-default {
	height: auto;
	min-height: 16px;
}
.report-col-separetor {
	border-right: 1px solid #d1d8dd;
}
.report-col-separetor:last-child {
	border-right: 1px solid transparent;
}
.report-border-bottom {
	border-bottom: 1px solid #d1d8dd;
}

[data-route="query-report/Salary Sheet"] .slick-header-column.ui-state-default {
	min-height: 40px;
	word-wrap: break-word;
}


.lc_expire_date_field_report {
	display:block;
	background-color:#f00;
	margin:-2px -5px -3px -5px;
    padding: 2px 5px;
    color: #fff;
}