<div class="col-xs-12">
	<div  class="text-center">
		{{ letter_head or "" }}
	</div>
	<div align="center" style="margin: -25px 0px 25px 0">
		<h2><b>EXPORT DOCUMENT</b></h2>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<div class="row">
				<div class="col-xs-4 text-right"><b>Master LC: </b></div><div class="col-xs-5 text-left">{{ doc.master_lc or "-"}}</div>
			</div>
			<div class="row">
				<div style="margin-top:10px">
					<div class="col-xs-4 text-right"><b>Date:</b></div><div class="col-xs-5 text-left">{{ doc.date or "-"}}</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="row">
				<div class="col-xs-4 text-right"><b>To: </b></div><div class="col-xs-5 text-left">{{ doc.to or "-"}}</div>
			</div>
			<div class="row">
				<div style="margin-top:10px">
					<div class="col-xs-4 text-right"><b>Address:</b></div><div class="col-xs-5 text-left">{{ doc.address or "-"}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top:20px">
		<div align="left">
			<b>Subject: </b> {{ doc.subject or "-"}}
		</div>
	</div>
	<div class="row" style="margin-top:10px">
		<div align="left">
			<b>Reference: </b> {{ doc.reference or "-"}}
		</div>
	</div>
	<div class="row" style="margin-top:20px">
		{{ doc.details or "-"}}
	</div>
	<div>
    <table style="margin-top:100px">
        <tr>
            <td style="width:45%"></td>
            <td style="width: 10%;text-align: right; border-top:1px dotted black">Signature</td>
        </tr>
    </table>
</div>
</div>