<style>
    .rows > .item:nth-child(odd) {
        background-color: #fafbfc;
    }
</style>
<div>    
	<div class="form-grid">
		<div class="grid-heading-row"></div>
		<div class="grid-body">
			<div class="rows"></div>
			<div class="small form-clickable-section grid-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <p></p>
        				<a href="#" class="btn btn-xs btn-default sec-add-table">
                            {%= __("Add new section") %}</a>
                    </div>
                    <div class="col-sm-6 text-right">
        				<!-- <a href="#" class="grid-download btn btn-xs btn-default hide"
                            style="margin-left: 10px;">
                            {%= __("Download") %}</a>
        				<a href="#" class="grid-upload btn btn-xs btn-default hide"
                            style="margin-left: 10px;">
                            {%= __("Upload") %}</a> -->
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
