<div class="col-xs-12">
	<div  class="text-center">
		{{ letter_head or "" }}
	</div>
	<div align="center" style="margin: -25px 0px 25px 0">
		<h2><b>Beneficiary Certificate</b></h2>
	</div>
	<div class="row" style="margin-top:50px">
		<div class="col-xs-3 text-right"><label>Invoices: </label></div>
		<div class="col-xs-5 text-left">{{ doc.invoice or ""}}</div>
		<div class="col-xs-1 text-right"><label>Date: </label></div>
		<div class="col-xs-3 text-left">{{ doc.date or ""}}</div>
	</div>
	<div class="row" style="margin-top:30px">
		<div class="col-xs-12 text-left">{{ doc.details or ""}}</div>
	</div>
	<table style="margin-top:140px">
		<tr>
			<td style="width:45%"></td>
			<td style="width: 10%;text-align: right; border-top:1px dotted black">Signature</td>
		</tr>
	</table>
</div>