
<div class="row">
	<div class="col-xs-12 text-center" data-parent="{%= parent %}" data-name="{%= name %}">
		
		<div class="col-xs-2 tc_name" data-test-cutting="{%= name %}"><a data-doctype="Test Cutting" href="#Form/Test Cutting/{%= name %}" class="grey">{%= name %}</a></div>

		<div class="col-xs-1 style" data-sytle="{%= styl %}"><a data-doctype="Style Name" href="#Form/Style Name/{%= styl %}" class="grey">{%= styl %}</a></div>

		<div class="col-xs-2 size_range">{%= size_range %}</div>

		<!-- <div class="col-xs-1 qty">{%= ttl %}</div> -->

		<div class="col-xs-3 list-col "><input class="form-control" type="text" name="remark" placeholder="Comments here"></div>

		<div class="col-xs-1"><select class="form-control" name="status"><option value="Pass">Pass</option><option value="Fail">Fail</option></select></div>

		<!-- <div class="col-xs-2 list-col bco_qty"><input class="form-control" type="number" name="bco_qty" min="1" placeholder="Enter number"></div> -->

		<div class="col-xs-2 attach">
			<button class="btn vtn-info attachment">Files</button>
			<div class="text-ellipsis" style="display:none; float:left; width: 90%;">
				<i class="icon-paper-clip"></i>
				<a class="attached-file" target="_blank" href=""></a>   
			</div>
			<a class="close" style="display:none;">×</a>
		</div>

		<div class="col-xs-1"><button type="button" class="btn btn-primary" name="value">Save</button></div>

	</div>
</div>