
 <div class="list-headers">
	<div class="list-row list-row-head ">
		<div class="row doclist-row text-center" style="font-weight: bold">
			<div class="col-sm-12" style="padding:10px 10px 10px 15px;">
				<div class="col-xs-2 list-col ">{%= __("Test Cutting") %}</div>
				<div class="col-xs-1 list-col ">{%= __("Style") %}</div>
				<div class="col-xs-2 list-col ">{%= __("Size Range") %}</div>
				<!-- <div class="col-xs-1 list-col ">{%= __("Size Set Quantity") %}</div> -->
				<div class="col-xs-3 list-col ">{%= __("Remark") %}</div>
				<div class="col-xs-1 list-col ">{%= __("Status") %}</div>	
				<!-- <div class="col-xs-2 list-col ">{%= __("Bulk Cutting Order Qty") %}</div> -->
				<div class="col-xs-2 list-col ">{%= __("Attachment") %}</div>
			</div>
		</div>
	</div>
</div>
