{%- from "templates/print_formats/standard_macros.html" import add_header -%}

<div class="col-xs-12">
    <div style="margin-bottom: 7px;" class="text-center">
  {{ letter_head or "" }}
    </div>
<div align="center">
    <h4><u>Paking</u></h4>
    <h5>{{doc.name}}</h5>
</div>
<div>
    <div>
        <table>
            <tbody>
                <tr>
                    <td><b>Date :</b> {{ doc.date or "" }}</td>
                </tr>
                <tr>
                    <td><b>PO   : </b>{{ doc.po or "" }}</td>
                </tr>
                <tr>
                    <td><b>Buyer   :</b> {{ doc.buyer or "" }}</td>
                </tr>
                <tr>
                    <td><b>Style   :</b> {{ doc.styl or "" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4><u>Paking List</u></h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 25%;text-align: center">Size</th>
            <th style="width: 25%;text-align: center">Color</th>
            <th style="width: 25%;text-align: center">Quantity</th>
            <th style="width: 25%;text-align: center">Type</th>
        </tr>
    </thead>
    <tbody>
    {% for item in doc.pkng %}
        <tr>
            <td style="text-align: center">{{ item.size or "-"}}</td>
            <td style="text-align: center">{{ item.color or "-"}}</td>
            <td style="text-align: center">{{ item.qty or "-"}}</td>
            <td style="text-align: center">{{ item.type or "-"}}</td>
        </tr>
    {% endfor %}
        <tr>
            <td></td>
                    <td></td>
            <td></td>
            <td style="text-align: center;font-weight:bold">{{ doc.ttl or ""}}</td>
        </tr>
    </tbody>
</table>
<div >
    <table>
        <tbody>
            <tr>
                <td><u>Worker ID.</u>
                    {% set w_id = frappe.db.get_value("Employee",{"name":doc.w_id},["employee_name","user_id"]) %}
                    <br>{{ w_id [0] or "" }}
                    <br>{{ w_id [1] or "" }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>