{%- from "templates/print_formats/standard_macros.html" import add_header -%}
<div class="col-xs-12">
    <div  class="text-center">
        {{ letter_head or "" }}
    </div>
    
    <div>
        <table class="col-xs-12 col-xs-offset-0 text-center">
            <tbody>
                
                <tr>
                    <td><b>{{ doc.buyer or "" }} P.O</b></td>
                </tr>
                <tr>
                    <td><b>Date    : {{ doc.date_3 or "" }}</b></td>
                </tr>
            </tbody>
        </table>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 15%;text-align: center">PO</th>
                <th style="width: 25%;text-align: center">UVC</th>
                <th style="width: 10%;text-align: center">STD P Code</th>
                <th style="width: 15%;text-align: center">Product Name</th>
                <th style="width: 15%;text-align: center">Description</th>
                <th style="width: 10%;text-align: center">Color</th>
                <th style="width: 20%;text-align: center">Theme</th>
                <th style="width: 15%;text-align: center">AGE</th>
                <th style="width: 25%;text-align: center">STD</th>
                <th style="width: 10%;text-align: center">Shipment date</th>
                <th style="width: 15%;text-align: center">Shipment Destination</th>
                <th style="width: 15%;text-align: center">Composition</th>
                <th style="width: 10%;text-align: center">FOB</th>
                <th style="width: 20%;text-align: center">2 ANS</th>
                <th style="width: 15%;text-align: center">3 ANS</th>
                <th style="width: 25%;text-align: center">4 ANS</th>
                <th style="width: 10%;text-align: center">5 ANS</th>
                <th style="width: 15%;text-align: center">6 ANS</th>
                <th style="width: 15%;text-align: center">7 ANS</th>
                <th style="width: 10%;text-align: center">8 ANS</th>
                <th style="width: 20%;text-align: center">10 ANS</th>
                <th style="width: 15%;text-align: center">12 ANS</th>
                <th style="width: 25%;text-align: center">14 ANS</th>
                <th style="width: 20%;text-align: center">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for item in doc.child_po %}
                <tr>
                    <td style="text-align: center">{{ item.po }}</td>
                    <td style="text-align: center">{{ item.uvc }}</td>
                    <td style="text-align: center">{{ item.std_p_code }}</td>
                    <td style="text-align: center">{{ item.product_name }}</td>
                    <td style="text-align: center">{{ item.description }}</td>
                    <td style="text-align: center">{{ item.colors }}</td>
                    <td style="text-align: center">{{ item.theme }}</td>
                    <td style="text-align: center">{{ item.age }}</td>
                    <td style="text-align: center">{{ item.std }}</td>
                    <td style="text-align: center">{{ item.shipment_date }}</td>
                    <td style="text-align: center">{{ item.shp_dest }}</td>
                    <td style="text-align: center">{{ item.composition }}</td>
                    <td style="text-align: center">{{ item.fob }}</td>
                    <td style="text-align: center">{{ item.ans2 }}</td>
                    <td style="text-align: center">{{ item.ans3 }}</td>
                    <td style="text-align: center">{{ item.ans4 }}</td>
                    <td style="text-align: center">{{ item.ans5 }}</td>
                    <td style="text-align: center">{{ item.ans6 }}</td>
                    <td style="text-align: center">{{ item.ans7 }}</td>
                    <td style="text-align: center">{{ item.ans8 }}</td>
                    <td style="text-align: center">{{ item.ans10 }}</td>
                    <td style="text-align: center">{{ item.ans12 }}</td>
                    <td style="text-align: center">{{ item.ans14 }}</td>
                    <td style="text-align: center">{{ item.ttl }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td style="text-align: center"></td>
                <td style="text-align: center"></td>
                <td style="text-align: center"></td>
                <td style="text-align: center"></td>
                <td style="text-align: center"></td>
                <td style="text-align: center"></td>
                <td style="text-align: center"></td>
                <td style="text-align: center"></td>
                <td style="text-align: center"></td>
                <td style="text-align: center"></td>
                <td style="text-align: center"></td>
                <td style="text-align: center"></td>
                <td style="text-align: center"></td>
                <td style="text-align: center">{{ doc.ttl_ans2}}</td>
                <td style="text-align: center">{{ doc.ttl_ans3}}</td>
                <td style="text-align: center">{{ doc.ttl_ans4}}</td>
                <td style="text-align: center">{{ doc.ttl_ans5}}</td>
                <td style="text-align: center">{{ doc.ttl_ans6}}</td>
                <td style="text-align: center">{{ doc.ttl_ans7}}</td>
                <td style="text-align: center">{{ doc.ttl_ans8}}</td>
                <td style="text-align: center">{{ doc.ttl_ans10}}</td>
                <td style="text-align: center">{{ doc.ttl_ans12}}</td>
                <td style="text-align: center">{{ doc.ttl_ans14}}</td>
                <td style="text-align: center">{{ doc.ttl_ttl}}</td>
            </tr>
        </tbody>
    </table>
</div>