<tr>
	<td colspan="12"></td>
	<td>Total</td>
	<td>
		<div class="form-group frappe-control input-max-width" data-fieldtype="Int" data-fieldname="total_qty">
			<input type="text" class="input-with-feedback form-control text-right" data-fieldtype="Int" data-fieldname="total_qty" placeholder="" disabled="disabled" value="{%= (typeof total_qty !==\'undefined\' )?total_qty:0 %}">
		</div>
	</td>
	<td>
		<div class="form-group frappe-control input-max-width" data-fieldtype="Currency" data-fieldname="total_amount">
			<input type="text" class="input-with-feedback form-control text-right" data-fieldtype="Currency" data-fieldname="total_amount" placeholder="" disabled="disabled" value="{%= (typeof total_amount !==\'undefined\' )?total_amount:0 %}">
		</div>
	</td>
	<td style="border-left:4px solid #DFEBF3;"></td>
	<td>
		<div class="form-group frappe-control input-max-width" data-fieldtype="Int" data-fieldname="total_std_packing_qty">
			<input type="text" class="input-with-feedback form-control text-right" data-fieldtype="Int" data-fieldname="total_std_packing_qty" placeholder="" disabled="disabled" value="{%= (typeof total_std_packing_qty !==\'undefined\' )?total_std_packing_qty:0 %}">
		</div>
	</td>
	<td>
		<div class="form-group frappe-control input-max-width" data-fieldtype="Int" data-fieldname="total_std_parcel_number">
			<input type="text" class="input-with-feedback form-control text-right" data-fieldtype="Int" data-fieldname="total_std_parcel_number" placeholder="" disabled="disabled" value="{%= (typeof total_std_parcel_number !==\'undefined\' )?total_std_parcel_number:0 %}">
		</div>
	</td>
	<td style="border-right:4px solid #DFEBF3;">
		<div class="form-group frappe-control input-max-width" data-fieldtype="Int" data-fieldname="total_solid_size_qty">
			<input type="text" class="input-with-feedback form-control text-right" data-fieldtype="Int" data-fieldname="total_solid_size_qty" placeholder="" disabled="disabled" value="{%= (typeof total_solid_size_qty !==\'undefined\' )?total_solid_size_qty:0 %}">
		</div>
	</td>
	<td colspan="{%= total_td-19 %}"></td>
</tr>
