 {{ letter_head or "" }}
<h3 class="text-center">{{ doc.select_print_heading or "Pattern Cutting" }}</h3>
<br/><br/>
<div class="clearfix">
	<div class="col-xs-8 pull-left">
	<table class="table table-bordered">
		<tr>
			<th class="text-right">BUYER:</th>
			<td width="75%">{{ doc.buyer }}</td>
		</tr>
		<tr>
			<th class="text-right">REF:</th>
			<td>{{ doc.ref }}</td>
		</tr>
		<tr>
			<th class="text-right">ITEM</th>
			<td>{{ doc.item }}</td>
		</tr>
	</table>
	</div>
	<div class="col-xs-4 pull-left"><strong>Date:</strong></div>
	<div class="col-xs-4 pull-right">{{ doc.get_formatted("date") }}</div>
</div>
<div class="clearfix row">
<table class="table table-bordered">
    <thead>
        <tr>
        		
                <th style="width: 25%;text-align: center">Size</th>
                <th>Size Range</th>
                <th>Color</th>
                 <th>Quantity</th>
                
        </tr>
    </thead>
    <tbody>
            {% for key in doc.pattern_child %}
                <tr>
                    
                    <td style="text-align: center">{{ key.size}}</td>
                    <td style="text-align: center">{{ key.size_range}}</td>
                    <td style="text-align: center">{{ key.color}}</td>
                    <td style="text-align: center">{{ key.qty}}</td>
                 
                </tr>
            {% endfor %}
             <tr>
                    
                    <td style="text-align: center"></td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center"><strong>Tota Quantity:</strong></td>
                    <td style="text-align: center">{{ doc.total_qty }}</td>
                 
               </tr>
    </tbody>
</table>
<div>
