{%- from "templates/print_formats/standard_macros.html" import add_header -%}

<div class="col-xs-12">
    <div  class="text-center">
        {{ letter_head or "" }}
    </div>
<div align="center">
    <h4><u>Bundle</u></h4>
</div> 
<div class="row">
<table>
    <tbody>
        <thead>
            <tr>
                <td style="width:75%; text-align: left;"><b>Buyer: </b>{{ doc.buyer or "" }}</td>
                <td style="text-align: left;"><b>Bundle: </b>{{ doc.name or "" }}</td>
            </tr>
            <tr>
                <td style="text-align: left;"><b>Style: </b>{{ doc.style or "" }}</td>
            </tr>
            <tr>
                <td style="text-align: left;"><b>Date: </b>{{ doc.date or "" }}</td>
            </tr>
        </thead>
    </tbody>
</table>
<table class="table table-bordered" style="margin-top:10px">
<br/><br/>
    <h4>Bundle List</h4>
    <thead>
        <tr>
            <th style="width: 20%; text-align: center; font-weight:bold">Bundle No</th>
            <th style="width: 20%; text-align: center; font-weight:bold">Color</th>
            <th style="width: 20%; text-align: center; font-weight:bold">Size</th>
            <th style="width: 20%; text-align: center; font-weight:bold">Total</th>
        </tr>
    </thead>
    <tbody>
    {% for key in doc.bund_child %}
        <tr>
            <td style="width: 20%; text-align: center">{{ key.bundle_no or "-"}}</td>
            <td style="width: 20%; text-align: center">{{ key.color or "-"}}</td>
            <td style="width: 20%; text-align: center">{{ key.size or "-"}}</td>
            <td style="width: 20%; text-align: center">{{ key.total_size or "-"}}</td>
        </tr>
    {% endfor %}
    <tr>
                <td colspan="3" style="text-align: right;"><b>Total Quantity: </b></td>
                <td style="text-align: center;"><b>{{ doc.total_qty or "" }}</b></td>
            </tr>
    </tbody>
</table>
   
</div>
<div>
    <table style="margin-top:100px">
        <tr>
            <td style="width:45%"></td>
            <td style="width: 10%;text-align: right; border-top:1px dotted black">Signature</td>
        </tr>
    </table>
</div>
</div>