{%- from "templates/print_formats/standard_macros.html" import add_header -%}

<div>
  {{ letter_head or "" }}
</div>
<div style="margin-top:20px" class="row">
	<div class="col-xs-12 text-left">
		<table>
			<tr>
				<td><b>Reference / Style:</b></td>
				<td>{{ doc.reference }}</td>
			</tr>
            {%if doc.costing_item_description%}
            <tr>
				<td><b>Description:</b></td>
				<td>{{ doc.costing_item_description or ""}}</td>
			</tr>
            {%endif%}
		</table>
	</div>
</div>
<div class="row">
<div align="center">
    <h4><u>PRICE COSTING</u></h4>
</div>
<table class="table table-bordered">
    <caption>FABRICS</caption>
    <thead>
        <tr>
        	<th style="width: 20%;text-align: center">Item</th>
            <th style="width: 15%;text-align: center">Item Name</th>
            <th style="width: 15%;text-align: center">Quantity</th>
            <th style="width: 10%;text-align: center">UOM</th>
            <th style="width: 15%;text-align: center">Unit Price</th>
            <th style="width: 15%;text-align: center">Total Amount</th>	
        </tr>
    </thead>
    <tbody>
        {% for key in doc.fabric_table %}
        <tr>
            <td style="text-align: center">{{ key.costing_child_item}}</td>
            <td style="text-align: center">{{ key.costing_child_item_name}}</td>
            <td style="text-align: center">{{ key.costing_child_qty}}</td>
            <td style="text-align: center">{{ key.costing_child_uom}}</td>
            <td style="text-align: center">${{ key.costing_child_unit_price}}</td>
            <td style="text-align: center;">${{ key.costing_child_total_amount}}</td>
        </tr>
        {% endfor %}
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center;font-weight:bold">TOTAL</b></td>
            <td style="text-align: center;font-weight:bold">${{ doc.total_fabrics_cost| round(2) or ""}}</td>
    </tbody>
</table>
<table class="table table-bordered">
    <caption>ACCESSORIES</caption>
    <thead>
        <tr>
        	<th style="width: 20%;text-align: center">Item</th>
            <th style="width: 15%;text-align: center">Item Name</th>
            <th style="width: 15%;text-align: center">Quantity</th>
            <th style="width: 10%;text-align: center">UOM</th>
            <th style="width: 15%;text-align: center">Unit Price</th>
            <th style="width: 15%;text-align: center">Total Amount</th>
        </tr>

    </thead>
    <tbody>
        {% for key in doc.accessories_table %}
        <tr>
            <td style="text-align: center">{{ key.costing_child_item}}</td>
            <td style="text-align: center">{{ key.costing_child_item_name}}</td>
            <td style="text-align: center">{{ key.costing_child_qty}}</td>
            <td style="text-align: center">{{ key.costing_child_uom}}</td>
            <td style="text-align: center">${{ key.costing_child_unit_price}}</td>
            <td style="text-align: center;">${{ key.costing_child_total_amount}}</td>
        </tr>
        {% endfor %}
            <td style="text-align: center"></td>
                <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center;font-weight:bold"><b>TOTAL</b></td>
            <td style="text-align: center;font-weight:bold">${{ doc.total_accessories_cost | round(2) or "" }}</td>
    </tbody>
</table>
</div>
<table style="border:1px solid black";table align="center">
	<tr>
		<td style="text-align: right;font-weight:bold">TOTAL FABRICS:</td><td style="text-align: right">${{ doc.total_fabrics_cost | round(2) or "" }}</td><td></td>
	</tr>
	<tr>
		<td style="text-align: right;font-weight:bold">TOTAL ACCESSORIES:</td><td style="text-align: right;border-bottom:solid 1px">${{ doc.total_accessories_cost | round(2) or "" }}</td><td></td>
	</tr>
        <td style="text-align: center"></td>
    <tr>
        <td style="text-align: right;font-weight:bold">CM:</td><td style="text-align: right">${{ doc.cm | round(2) or "" }}</td><td></td>
    </tr>
    <tr>
        <td style="text-align: right;font-weight:bold">TOTAL:</td><td style="text-align: right;border-bottom:double">${{ doc.total | round(2) or "" }}</td><td></td>
    </tr>
    <tr>
        <td style="text-align: right;font-weight:bold">TOTAL FOREIGN COMMISSION ({{ doc.foreign_commission or "" }}%):</td><td style="text-align: right;">${{ doc.total_foreign_commission | round(2) or "" }}</td><td></td>
    </tr>
    <tr>
        <td style="text-align: right;font-weight:bold">TOTAL LOCAL COMMISSION({{ doc.local_commission or "" }}):</td><td style="text-align: right;border-bottom:solid 1px">${{ doc.total_local_commission | round(2) or "" }}</td><td></td>
    </tr>
    <tr>
        <td style="text-align: right;font-weight:bold">GRAND TOTAL ({{ doc.total_qty or "" }} PCS):</td><td style="text-align: right;border-bottom:double">${{ doc.g_total | round(2) or "" }}</td><td></td>
    </tr>
	<tr>
		<td style="text-align: right;font-weight:bold">PER PIECE PRICE:</td><td style="text-align: right;">${{ doc.per_pcs_price | round(2) or "" }}</td><td></td>
	</tr>
</table>
</div>
<div>
    <table style="margin-top:100px">
        <tr>
            <td style="width:45%"></td>
            <td style="width: 10%;text-align: right; border-top:1px dotted black">Signature & Date</td>
        </tr>
    </table>
</div>