{% if (keys.fields) { %}
	<tr data-name="{%= val.name %}" data-idx="{%= val.idx %}">
		{% for (var i = 0; i < keys.fields.length; i++) { %}
			{% if( keys.fields[i].fieldtype !="Code" ) { %}
			<td class="{%= (i==0?\"col-xs-3\":\"col-xs-2\") %}" {% if(keys.fields[i].fieldtype=="Button") { %}style="vertical-align: bottom; {%= val.status ==\'Completed\'? \'visibility: hidden;\' : \'\' %}" {% } %} data-fieldtype="{%= keys.fields[i].fieldtype %}" data-label="{%= keys.fields[i].label %}" data-fieldname = "{%= keys.fields[i].fieldname %}" data-default="{%= keys.fields[i].default %}" data-doctype="{%= keys.name %}" data-options = "{%= keys.fields[i].options %}" data-value ="{% if(val[keys.fields[i].fieldname]) { %}{%= val[keys.fields[i].fieldname] %}{% } else { %}{%= keys.fields[i].default %}{% } %}" data-read-only="{%= keys.fields[i].read_only %}" data-reqd="{%= keys.fields[i].reqd %}" data-unsaved="{%= \'__unsaved\' in val ? val.__unsaved : 0 %}"></td>
			{% } %}
		{% } %}
	</tr>
{% } %}