<div class="form-grid">
   <div class="grid-heading-row">
      <div class="grid-row">
         <div class="data-row row sortable-handle">
            <div class="row-index">&nbsp;</div>
            <div style="font-weight: bold;" data-fieldname="emp_id" class="col col-xs-6 grid-overflow-ellipsis grid-static-col">ID</div>
            <div style="font-weight: bold;" data-fieldname="emp_nm" class="col col-xs-5 grid-overflow-ellipsis grid-static-col">Name</div>
         </div>
      </div>
   </div>
   <div class="grid-body">
      <div class="rows">
         {% for (var i = 0; supervisor.length > i; i++) { %}
         <div class="grid-row">
            <div style="display: block;" class="data-row row sortable-handle">
               <div class="row-index">{%= supervisor[i].idx %}</div>
               <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col"><a class="grey" href="#Form/Employee/{%= supervisor[i].emp_id %}">{%= supervisor[i].emp_id %}</a></div>
               <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col">{%= supervisor[i].emp_nm %}</div>
            </div>
         </div>
         {% } %}
      </div>
      <div class="grid-empty text-center hide">No Data</div>
   </div>
</div>

