<tr data-name="{%= val.name %}" data-idx="{%= val.idx %}" data-worker-index="{%= val.sl-1 %}">
	<td>{%= val.sl %}</td>
	<td>{%= val.work_nm %} <br><strong>{%= val.worker_id %}</strong></td>
	<td>{%= val.nat_work %}</td>
	<td>{%= val.target %}</td>
	<!-- <td><input style="width:50px" placeholder="0" type="text" pattern="[0-9]*" name="amount"></td> -->
	<td>
		<input type="hidden" name="target" value="{%= val.target %}">
		<input type="hidden" name="nat_work" value="{%= val.nat_work %}">
		<input type="hidden" name="worker_name" value="{%= val.work_nm %}">
		<input type="hidden" name="worker_id" value="{%= val.worker_id %}">
		<input type="hidden" name="bundle_no" value="{%= val.bundle_no %}">
        <!-- <button onclick="javascript:cur_frm.cscript.worker_input(this)" class="btn btn-danger pull-left" data-value="minus">-</button>
		<button onclick="javascript:cur_frm.cscript.worker_input(this)" class="btn btn-success pull-left" data-value="plus">+</button>  -->
		<button onclick="javascript:cur_frm.cscript.worker_input(this)" class="btn btn-success btn-sm /*pull-right*/" data-value="plus" data-com="yes">Complete</button>
    </td>
    <!-- <td class="total_qty">{%= val.total_qty - (val.alt_qty ? val.alt_qty: 0) %}</td> -->
</tr>