<tr>
	<th>{%= __("SL") %}</th>
	<th>{%= __("Worker") %}</th>
	<th>{%= __("Nature of Work") %}</th>
	<th>{%= __("Target") %}</th>
	<!-- <th>{%= __("Qty") %}</th> -->
	<th>{%= __("Action") %}</th>
	<!-- <th>{%= __("Total") %}</th> -->
</tr>
<style>
	.allt-show {
		display: none;
	}
</style>