 {{ letter_head or "" }}
<div class="row">
	<div class="col-xs-8 pull-left">
	<table class="table table-bordered">
		<tr>
			<th class="text-right">BUYER:</th>
			<td width="75%">{{ doc.buyer }}</td>
		</tr>
		<tr>
			<th class="text-right">ORDER/ITEM:</th>
			<td>{{ doc.consumption_workout }}</td>
		</tr>
		<tr>
			<th class="text-right">ITEM</th>
			<td>{{ doc.item }}</td>
		</tr>
	</table>
	</div>
	<div class="col-xs-4 pull-left"><strong>Date:</strong></div>
	<div class="col-xs-4 pull-right">{{ doc.get_formatted("date") }}</div>
<div class="clearfix"></div>
{% set consumption_info = frappe.get_all("Consumption Workout Child",filters={"name":doc.consumption_workout},fields="consumption_data",as_list=0)%}
{% set consumption_info = consumption_info[0]['consumption_data']%}
{% set consumption_info = json.loads(consumption_info) %}
{% set consumption_row = consumption_info["CONSUMPTION :"] %}
{% set all_cols = consumption_info["all_cols"] %}
{% set ribs = consumption_info['DIA :']%}


{% set order_info = frappe.get_all("Order Sheet",filters={"name":doc.name},fields=["order_quantity_data","fabric_requirement_data","ratio_data"],as_list=0).pop()%}

{% if order_info["order_quantity_data"] %}

	{% if order_info["ratio_data"] %}

		{% if order_info["fabric_requirement_data"] %}

					{% set order_quantity_data = order_info["order_quantity_data"]%}
					{% set order_quantity_data = json.loads(order_quantity_data) %}

					{% set order_quantity_total = order_quantity_data["total_row"] %}
					{% set order_quantity_data = order_quantity_data["data_row"] %}

					{% set fabric_requirement_data = order_info["fabric_requirement_data"]%}
					{% set fabric_requirement_data = json.loads(fabric_requirement_data) %}

					{% set fabric_requirement_total = fabric_requirement_data["total_row"] %}
					{% set fabric_requirement_data = fabric_requirement_data["data_row"] %}

					{% set ratio_data = order_info["ratio_data"]%}
					{% set ratio_data = json.loads(ratio_data) %}

					{% set ratio_total = ratio_data["total_row"] %}
					{% set ratio_data = ratio_data["data_row"] %}

					{% set rib_dia = frappe.get_all("Consumption Workout",filters={"name":doc.consumption_workout},fields="rib_dia",as_list=0).pop()%}
					<div></div>
					<h4 class="text-center">RATIO</h4>
					<div class="col-xs-12">
						<table class="table table-bordered">
							<thead>
								<tr style="background:#EAE9EB;">
									<td>Size:</td>
									{%- for si in all_cols -%}
										<td>{{ si }}</td>					
									{%- endfor -%}
									<td>Total</td>
								</tr>
							</thead>
							<tbody>
								{%- for rd in ratio_data -%}
									<tr>
										<td>{{ratio_data[rd]["color"]}}</td>
										{%- for col in all_cols -%}
											<td>{{ratio_data[rd][col]}}</td>
										{%- endfor -%}
										<td>{{ratio_data[rd]["total"]}}</td>	
									</tr>
								{%- endfor -%}
									<tr style = "font-weight:bold;">
										<td>Total</td>
										{%- for col in all_cols -%}
											<td>{{ratio_total[col]}}</td>
										{%- endfor -%}
										<td>{{ratio_total["total"]}}</td>
									</tr>
							</tbody>
						</table>
					</div>

					<h4 class="text-center">Order Quantity</h4>
					<div class="col-xs-12">
						<table class="table table-bordered">
							<thead>
								<tr style="background:#EAE9EB;">
									<td>Size:</td>
									{%- for si in all_cols -%}
										<td>{{ si }}</td>					
									{%- endfor -%}
									<td>Total</td>
								</tr>
							</thead>
							<tbody>
								{%- for rd in order_quantity_data -%}
									<tr>
										<td>{{order_quantity_data[rd]["color"]}}</td>
										{%- for col in all_cols -%}
											<td>{{order_quantity_data[rd][col]}}</td>
										{%- endfor -%}
										<td>{{order_quantity_data[rd]["total"]}}</td>	
									</tr>
								{%- endfor -%}
									<tr style = "font-weight:bold;">
										<td>Total</td>
										{%- for col in all_cols -%}
											<td>{{order_quantity_total[col]}}</td>
										{%- endfor -%}
										<td>{{order_quantity_total["total"]}}</td>
									</tr>
							</tbody>
						</table>
					</div>

					<h4 class="text-center">Fabric requirement</h4>
					<div class="col-xs-12">
						<table class="table table-bordered">
							<thead>
								<tr style="background:#EAE9EB;">
									<td>Size:</td>
									{%- for si in all_cols -%}
										<td>{{ si }}</td>					
									{%- endfor -%}
									<td>Total</td>
									<td>RIB</td>
									<td>Grand Total</td>
								</tr>
							</thead>
							<tbody>
								<tr style="background:#E0E0C8;">
									<td>CONSUMPTION</td>
									{%- for rd in consumption_row -%}
										<td>{{rd}}</td>
									{%- endfor -%}
										<td>-</td>
										<td>-</td>
										<td>-</td>
								</tr>
								<tr style="background:#BADDC4;">
									<td>DIA</td>
									{%- for rd in ribs -%}
										<td>{{rd}}</td>
									{%- endfor -%}
										<td>-</td>
										<td>{{rib_dia.rib_dia}}%</td>
										<td>-</td>
										
								</tr>
								
								{%- for rd in fabric_requirement_data -%}
									<tr>
										<td>{{fabric_requirement_data[rd]["color"]}}</td>
										{%- for col in all_cols -%}
											<td>{{fabric_requirement_data[rd][col]}}</td>
										{%- endfor -%}
										<td>{{fabric_requirement_data[rd]["total"]}}</td>
										<td>{{fabric_requirement_data[rd]["total_rib"]}}</td>
										<td>{{fabric_requirement_data[rd]["total_gtotal"]}}</td>
									</tr>
								{%- endfor -%}
									<tr style = "font-weight:bold;">
										<td>Total</td>
										{%- for col in all_cols -%}
											<td>{{fabric_requirement_total[col]}}</td>
										{%- endfor -%}
										<td>{{fabric_requirement_total["total"]}}</td>
										<td>{{fabric_requirement_total["total_rib"]}}</td>
										<td>{{fabric_requirement_total["total_gtotal"]}}</td>
									</tr>
							</tbody>
						</table>
					</div>
					{% else %}
					<h4 class="text-center">Fabric Requirement Not Found</h4>
					{% endif %}
	{% else %}
		<h4 class="text-center">Ratio Not Found</h4>
	{% endif %}
{% else %}
	<h4 class="text-center">Order Quantity Data Not Found</h4>
{% endif %}
</div>
