<div style="margin-bottom: 10px;" class=" text-center">
	{%= frappe.boot.letter_heads[frappe.defaults.get_default("letter_head")] %}
</div>

<h4 style="margin-bottom:30px;" align="center"><u>BUYER QUOTATION</u></h4>

<table class="table table-bordered" style="margin-bottom:30px; font-size:8.5px">
	<thead>
		<tr>
			<th style="width: 5%; text-align: center;">{%= __("SL NO.") %}</th>
			<th style="width: 9%; text-align: center;">{%= __("STYLE") %}</th>
			<th style="width: 9%; text-align: center;">{%= __("DESCRIPTION") %}</th>
			<th style="width: 9%; text-align: center;">{%= __("SIZE RANGE") %}</th>
			<th style="width: 9%; text-align: center;">{%= __("PHOTO") %}</th>
			<th style="width: 9%; text-align: center;">{%= __("QUANTITY") %}</th>
			<th style="width: 11%; text-align: center;">{%= __("PER PIECE PRICE") %}</th>
			<th style="width: 11%; text-align: center;">{%= __("TARGET PRICE") %}</th>
			<th style="width: 9%; text-align: center;">{%= __("SHIPMENT DATE") %}</th>
			<th style="width: 9%; text-align: center;">{%= __("REMARK") %}</th>
			<th style="width: 9%; text-align: center;">{%= __("STATUS") %}</th>
		</tr>
	</thead>
	<tbody>
		{% for(var i=0, l=data.length; i<l; i++) { %}
		<tr>
			<td style="width: 5%; text-align: center;">{%= i+1 %}</td>
			<td style="width: 9%; text-align: left;">{%= data[i]["Style" ]%}</td>
			<td style="width: 9%; text-align: left;">{%= data[i]["Description" ]%}</td>
			<td style="width: 9%; text-align: center;">{%= data[i]["Size Range" ]%}</td>
			<td style="width: 9%; text-align: center;">{%= data[i]["Photo" ]%}</td>
			<td style="width: 9%; text-align: center;">{%= data[i]["Quantity(PCS)"]%}(PCS)</td>
			<td style="width: 11%; text-align: right;">{%=format_currency(data[i]["Per Piece Price" ])%}</td>
			<td style="width: 11%; text-align: right;">{%=format_currency(data[i]["Target Price" ])%}</td>
			<td style="width: 9%; text-align: center;">{%= data[i]["Shipment Date" ]%}</td>
			<td style="width: 9%; text-align: center;">{%= data[i]["Remark" ]%}</td>
			<td style="width: 9%; text-align: center;">{%= data[i]["Status" ]%}</td>
		</tr>
		{% } %}
	</tbody> 
</table>

<p class="text-right text-muted" style="margin-top:100px;">Printed On {%= dateutil.str_to_user(dateutil.get_datetime_as_string()) %}</p>