<div class='text-center'><h2><b>EXP FORM</b></h2></div>


	<div class='col-sm-3'>
			<table border='1' class='text-center' style='width: 100%;'>
				<tr><td><b>FORM NO</b></td></tr>
				<tr><td><b>101355</b></td></tr>
			</table>
	</div>
	<div class='col-sm-9'>
			
				<table border='1' class='text-center' style='width:100%'>
						<tr style='background: lightgray;'>
							<td>AD's code</td>
							<td>Serial Number</td>
							<td>Serial Year</td>
						</tr>

						<tr>
							<td>
								<div class='col-sm-3 right-border'>1</div>
								<div class='col-sm-3 right-border'>1</div>
								<div class='col-sm-3 right-border'>1</div>
								<div class='col-sm-3 '>1</div>
							</td>
							<td>
								<div class='col-sm-3 right-border'>00</div>
								<div class='col-sm-2 right-border'>5</div>
								<div class='col-sm-2 right-border'>1</div>
								<div class='col-sm-2 right-border'>7</div>
								<div class='col-sm-2 '>6</div>
							</td>
							<td>

								<div class='col-sm-6 right-border'>20</div>
								<div class='col-sm-6 '>17</div>
								
							</td>
						</tr>
				</table>
			
	</div>


	<div class='col-sm-12'>
		<div class='EXP_DATE'><b>EXP DATE :</b>     24.04.2017</div>
	</div>

	<div class='col-sm-12'>
		<div class='bank_name_address'><b>Name and address of the Authorised Dealer :</b>&nbsp;&nbsp;&nbsp;<u>UCBL , Bangshal Branch , Dhaka -1100 &nbsp;&nbsp;&nbsp;</u></div>
	</div>




	<div class='col-sm-12 frist-wrapper'>
		<table border='1' style='width: 100%;'>
			<tr>
				<td>SL No</td>
				<td style='width: 35%;'>Items</td>
				<td>Particulars (to be filled in by Exporter)</td>
				<td>Code no. (to be filled in Authorised Dealer)</td>
			</tr>


			<tr>
				<td>1</td>
				<td>commodity to be exported</td>
				<td>T - SHIRT</td>
				<td>
					<div class='col-sm-3 right-border'>1</div>
								<div class='col-sm-3 right-border'>1</div>
								<div class='col-sm-3 right-border'>1</div>
								<div class='col-sm-3 '>1</div>
				</td>
			</tr>

			<tr>
				<td>2</td>
				<td>Country of Destination</td>
				<td>SWEDEN</td>
				<td>
					<div class='col-sm-3 right-border'>2</div>
								<div class='col-sm-3 right-border'>0</div>
								<div class='col-sm-3 right-border'>0</div>
								<div class='col-sm-3 '>4</div>
				</td>
			</tr>

			<tr>
				<td>3</td>
				<td>Port of Destination</td>
				<td>GOTHENBURG</td>
				
			</tr>




			<tr>
				<td>4</td>
				<td colspan='3'>
					<div class='col-sm-3 right-border' style='line-height: 34px;'>Quantity</div>
					<div class='col-sm-9'>

						<div class='col-sm-12 quanity' style='font-size: 10px;'>
							<div class='col-sm-5 right-border'>Unit (baies/tons/ibs etc.)</div>
							<div class='col-sm-3 right-border'>PCS</div>
							<div class='col-sm-2 right-border'>4</div>
							<div class='col-sm-2 '>3</div>
						</div>
						<div class='col-sm-12' style='font-size: 10px;'>

							<div class='col-sm-5 right-border' style='font-size: 10px;'>Volume (weight / number /etc)</div>
							<div class='col-sm-3 right-border' style='font-size: 10px;'>65,006 PCS </div>
							
						</div>

					</div>
					
				</td>
				
			</tr>



			<tr>
				<td>5</td>
				<td colspan='3'>
					<div class='col-sm-3 right-border' style='line-height: 57px;'>Value</div>
					<div class='col-sm-9'>

						<div class='col-sm-12 quanity' style='font-size: 10px;'>
							<div class='col-sm-5 right-border'>Currently</div>
							<div class='col-sm-3 right-border'>US DOLLER</div>
							<div class='col-sm-2 right-border'>0</div>
							<div class='col-sm-2 '>1</div>
							
						</div>
						

						<div class='col-sm-12 quanity' style='font-size: 10px;'>
							<div class='col-sm-5 right-border'>Incoterm Used</div>
							<div class='col-sm-3 right-border'>FOB</div>
							
							
						</div>



						<div class='col-sm-12 quanity' style='font-size: 10px;'>
							<div class='col-sm-5 right-border'>Invoice Value</div>
							<div class='col-sm-3 right-border'>$ 104,450,78</div>
							<div class='col-sm-4 '></div>
							
						</div>

						<div class='col-sm-12 ' style='font-size: 10px;'>
							<div class='col-sm-5 right-border'>CMT Value (if applicable)</div>
							
							
						</div>

						





					</div>
					
				</td>
				
			</tr>




			


			<tr>
				<td>6</td>
				<td style='width: 35%;'>Terms of sale (firm contract / LC or Consignment sale)</td>
				<td colspan='3' style='font-size: 10px;'>S/C NO : MMK/SVA/LGR/SC-01/17<br>DT.03.01.2017</td>
				
			</tr>


			<tr>
				<td>7</td>
				<td style='width: 35%;'>Terms of sale (firm contract / LC or Consignment sale)</td>
				<td colspan='3' style='font-size: 10px;'>S/C NO : MMK/SVA/LGR/SC-01/17<br>DT.03.01.2017</td>
				
			</tr>


			<tr>
				<td>8</td>
				<td style='width: 35%;'>Name & address of importer /cosignee</td>
				<td colspan='3' style='font-size: 10px;'>LAGER 157 <br>MEJERIVAGEN 1 520 10 GALLSTAD SWEDEN</td>
				
			</tr>

			<tr>
				<td>9</td>
				<td style='width: 35%;'>Bill of lading / Railway Receipt / Airway Bill /Truck Receipt / Post Parcel Receipt </td>
				<td colspan='3' style='font-size: 10px;'>No :<br>Date:</td>
				
			</tr>

			<tr>
				<td>10</td>
				<td style='width: 35%;'>Port of shipment / Post Office of despatch</td>
				<td colspan='3' style='font-size: 10px;'>Chittagong Port , Bangladesh</td>
				
			</tr>

			<tr>
				<td>11</td>
				<td style='width: 35%;'>Land Custom Port </td>
				<td colspan='3' style='font-size: 10px;'>Chittagong Port , Bangladesh</td>
				
			</tr>

			<tr>
				<td>12</td>
				<td style='width: 35%;'>Shipment date</td>
				<td colspan='2'></td>
				
			</tr>

			<tr>
				<td>13</td>
				<td style='width: 35%;'>Name of the Exporter (in block letter with address )</td>
				<td><strong>M.M. KNITWEAR LIMITED</strong><br>KONABARI , NILNAGAR , GAZIPUR , BANGLADESH</td>
				<td></td>

				
			</tr>

			<tr>
				<td>14</td>
				<td style='width: 35%;'>CCI & E's Registration Number and Date of the exporter</td>
				<td colspan='2'>RA - 55232 </td>
				
			</tr>

			<tr>
				<td>15</td>
				<td style='width: 35%;'>Sector ( Public or Private ) under which the exporter fails</td>
				<td >PVT -</td>
				<td >02</td>
				
			</tr>



			
		</table>
	</div>

	<!-- <div class='col-sm-4 frist-wrapper'>
		<table border='1' style='width: 100%;'>
			<tr>
				
				<td>Code no. (to be filled in Authorised Dealer)</td>
			</tr>
		</table>
	</div> -->


<style type="text/css">
.right-border{border-right: 1px black solid;}
.EXP_DATE{border: black 1px solid;
    padding: 10px;
    width: 31%;
    margin-top: 13px;
    text-align: center;
	margin-left: 35%;
}
.bank_name_address{margin-top: 15px}
.frist-wrapper{margin-top:10px;}
.quanity{border-bottom: 1px black solid;}

</style>