{%- macro add_header(doc, letter_head, no_letterhead) -%}
	{% if letter_head and not no_letterhead %}
	<div class="letter-head"> {{ letter_head or "" }}</div>
	{% endif %}
    {% if doc.print_heading_template %}
        {{ frappe.render_template(doc.print_heading_template, {"doc":doc}) }}
    {% else %}
    <div class="print-heading">
		<h2>{{ doc.select_print_heading or (doc.print_heading if doc.print_heading != None
			else _(doc.doctype)) }}<br>
			<small>{{ doc.sub_heading if doc.sub_heading != None
				else doc.name }}</small>
        </h2>
    </div>
    {% endif %}
{%- endmacro -%}
<style>
	.text-center {
		font-size: 80%;
	}
</style>
{{ add_header( doc, letter_head, no_letterhead) }}
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-2 /*text-right*/"><label>Date</label></div>
			<div class="col-xs-10">{{ doc.get_formatted('date') }}</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-2 /*text-right*/"><label>To</label></div>
			<div class="col-xs-10">{{ doc.to }}</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-2 /*text-right*/"><label>Attn</label></div>
			<div class="col-xs-10">{{ doc.attn }}</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-2 /*text-right*/"><label>Buyer</label></div>
			<div class="col-xs-10">{{ doc.buyer }}</div>
		</div>
	</div>
	<p class="col-xs-12"><br>{{ doc.description.replace('\n','<br>') }}</p>
</div>
<!-- End top Part -->
<!-- Table Part -->
{% for item in doc.childs %}
<table class="table table-bordered">
	{% set datas = json.loads(item.datas) %}
	<thead>
		<tr>
			<th class="text-center" >{{ item.idx }}</th>
			<th class="text-center" >{{ item.reference }}</th>
			<th class="text-center" >Size</th>
			{% for th in datas.header.format_child %}
				<th class="text-center" >{{ th.size }}</th>
			{% endfor %}
			<th class="text-center"  rowspan="2">Total</th>
			<th class="text-center"  rowspan="2">1st Priority QTY <br> <small>{{ datas.header.first_rei_date }}</small></th>
			<th class="text-center"  rowspan="2">2nd Priority QTY<br> <small>{{ datas.header.sec_rei_date }}</small></th>
			<th class="text-center"  rowspan="2">Remark</th>
		</tr>
		<tr>
			<th class="text-center"  colspan="2">Description</th>
			<th class="text-center" >Color/Measur</th>
			{% for th in datas.header.format_child %}
				<th class="text-center" >{{ th.val }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tfoot>
		<td class="text-center" colspan="3"><strong>Total</strong></td>
		{% for tf in datas.footer.format_child %}
			<td class="text-center"> <strong>{{ tf.val }}</strong> </td>
		{% endfor %}
		<td class="text-center">
			<strong>{{datas.footer.ttl_total_col}} Pcs.</strong> 
		</td>
		<td colspan="3"></td>
	</tfoot>
	<tbody>
		{% for body in datas.body.body %}
			<tr>
				<td class="text-center"> {{ body.desc_one }} </td>
				<td class="text-center"> {{ body.desc_two }} </td>
				<td class="text-center"> {{ body.color }} </td>
				{% for btd in body.format_child %}
					<td class="text-center"> {{ btd.val }} </td>
				{% endfor %}
				<td class="text-center"> {{ body.total_col }} Pcs. </td>
				<td class="text-center"> {{ body.first_pri }} Pcs. </td>
				<td class="text-center"> {{ body.secound_pri }} Pcs. </td>
				<td class="text-center"> {{ body.remark }} </td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endfor %}
<!-- End Table Part -->
<div class="row">
	<p class="col-xs-12"> <strong>***{{ doc.footer or "" }} </strong></p>

	<p class="col-xs-12"> Thanks &amp; best regards <br> {{ doc.emp_name or (doc.b_r or"") }} </p>
</div>